[2020-07-19 03:24] gaurivn opened #1 "docs: Create Pull Request template"
## Describe the bug/feature
There is no pull request template for this repository as of now. Therefore the pull request template mentioned below needs to be created and placed in `.github` folder (so that it gets preloaded).

Template attached below:

[code]

## Expected behavior
- [ ] Created a ./github/PULL_REQUEST_TEMPLATE.md
- [ ] Pull request template is preloaded when contributor clicks new

[2020-07-19 20:55] gaurivn opened #2 "docs: Create Contribution guidelines markdown file"
## Description
As a developer,
I need to see contribution guidelines,
so that I can contribute.

## Acceptance Criteria
### Update [Required]
- [ ] Create CONTRIBUTING.md - Reference: https://github.com/anitab-org/mentorship-android/blob/develop/.github/CONTRIBUTING.md

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
1 hour

[2020-07-19 23:04] gaurivn opened #3 "docs: Create Issue Templates"
## Describe the bug/feature
As a developer,
I need to see the issue templates preloaded on clicking new issue,
so that I can use those templates to create issues.

## Acceptance Criteria
### Update [Required]
Created Issue Templates for
- [ ] User Story
- [ ] New Feature
- [ ] Bug Report
Reference: https://github.com/anitab-org/anitab-org.github.io/tree/develop/.github/ISSUE_TEMPLATE

## Definitio

[2020-07-21 12:40] #1 closed

[2020-07-21 12:44] #3 closed

[2020-07-21 13:01] #2 closed

[2020-07-21 21:32] nandini45 opened #8 "docs: update readme and how to setup the project"
### Describe the feature
As a developer,
I need to know what the repository is about so that I know more about the project and run it locally as well as contribute.

### Acceptance Criteria
**Update [Required]**
Content about what the repository is and how to set it up

### Definition of Done
 All of the required items are completed.
 Approval by 1 mentor.

### Expected behavior
 the readme is upd

[2020-07-21 21:34] nandini45 commented on #8
@annabauza  can i work on it?

[2020-07-21 21:39] annabauza commented on #8
Yes @nandini45

[2020-07-21 22:04] nandini45 commented on #8
@annabauza  i had a question that i will tell about forking cloning and how to contribute.
 should i include details that if you want to install the app and use  it you an use that image ,scan the code and install it..

by the way I installed it although we don't have that much content now in it but it seems so good already..

[2020-07-22 09:00] annabauza commented on #8
Yeah backend doesn't have too much yet. Not serving anything to fronted yet and it's not deployed.

[2020-07-24 19:08] annabauza commented on #8
@nandini45 how it's going, you can add new link for testing Android app https://appcenter-filemanagement-distrib3ede6f06e.azureedge.net/3918d5a8-73a3-4e9d-a200-70b8d3526daf/com_stemdiversetv-0.1.3-12-mobile-debug.apk?sv=2019-02-02&sr=c&sig=yf2WsRZDloZeBKW%2BylgsUkorsMjdIXNyLIWLwRUm5Sc%3D&se=2020-07-25T19%3A06%3A16Z&sp=r

[2020-07-25 11:22] nandini45 commented on #8
yeah i was talking about this link.. should i add the barcode image too?

[2020-07-25 14:51] annabauza commented on #8
yes you can add it but then we will have to update every time we release new version...

[2020-07-26 08:13] nandini45 commented on #8
i think then i will create a PR just for introduction ,basic details like fork clone only
 and then u can merge that PR
later on we can edit the pr and merge the changes that is link to install the app(we can add after finalising the base)
or should i open a separate issue for it and that issue we can put on hold and later on complete ?

[2020-07-26 16:28] annabauza opened #9 "As a developer, I need database, so that I can hold videos links and metadata."
## Description
As a developer,
I need database,
so that I can hold videos links and metadata.

## Acceptance Criteria

**VIDEOS TABLE**
|Key   |Type   |
|---|---|
|ID   | unique id  |
|URL   | string  |
|TITLE   |  string |
|PUBLISHED   | int(date)  |
|SOURCE   | string  |
|CHANNEL   | string  |
|DURATION   | int  |
|ARCHIVED   | bool |
|FREE_TO_REUSE   | bool |
|AUTHORISED_TO_REUSE   | bool |

**

[2020-07-29 18:17] nandini45 commented on #8
@annabauza  i had a question the project description which i volunteered to do referred to the about of the project
right?

[2020-08-01 19:06] nandini45 opened #11 "ADD code of conduct and reporting guidelines"
## Description
add code of conduct and guidelines about the repository

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
1 hours

[2020-08-01 19:06] nandini45 commented on #11
@annabauza  can i do it?

[2020-08-01 19:11] annabauza commented on #11
Yes please do!

[2020-08-01 19:13] annabauza commented on #11
Let's add contributing guideline too

[2020-08-01 19:14] nandini45 commented on #11
and @annabauza  the contributing guidelines are in the .github folder.  so should i move it from there to another folder where i will create these two files??
 so that the contributing guideline. code of conduct and reporting guidelines are in one folder like this
![image](https://user-images.githubusercontent.com/62046625/89108821-54511800-d459-11ea-9b6b-8b1d31426300.png)

[2020-08-01 19:14] annabauza commented on #11
ahh ok it's here just under .github folder

[2020-08-01 19:15] annabauza commented on #11
it think docs are better

[2020-08-01 19:15] nandini45 commented on #11
i will move it there then.
ok??

[2020-08-01 19:23] annabauza commented on #11
yep 👍

[2020-08-01 23:43] gaurivn opened #13 "feat: create endpoint which takes section id and return JSON feed"
## Description
As a developer,
I need to create an endpoint which takes section and return JSON feed,
so that I can access the relevant information.

Endpoint should look like:

`/feed/section/{section_id}`

[code]
## Additional context:
Require implemented issue #50 to complete mp4 wrapper link
please note if video is youtube it should return a stream of format 22 - mp4

## Acceptance Criteria
##

[2020-08-02 17:29] #11 closed

[2020-08-02 17:30] #9 closed

[2020-08-02 21:32] annabauza opened #15 "feat: Create add author POST endpoint"
### Is your feature request related to a problem? Please describe.
We have no endpoint to add author to db at the moment

### Describe the solution you'd like:
post following JSON structure:
[code]
so it can be added to the database.

If author with that name already exists then endpoint should return error.

### Describe alternatives you've considered
Alternatively if user with this name exists i

[2020-08-02 21:39] annabauza opened #16 "feat: Create search author by name endpoint"
### Is your feature request related to a problem? Please describe.
Create search author by id endpoint.

### Describe the solution you'd like
As a developer I want to put search query as parameter of the endpoint and receive authors array in JSON structure:

[code]

### Additional context
if there are no result I want to receive empty array in following JSON structure:
[code]

[2020-08-03 08:00] vatsalkul commented on #15
@annabauza Can I work on this?

[2020-08-03 08:12] annabauza commented on #15
Sure

[2020-08-06 07:46] #15 closed

[2020-08-07 17:09] #8 closed

[2020-08-08 06:38] annabauza opened #19 "feat: Create add category POST endpoint"
### Is your feature request related to a problem? Please describe.

We have no endpoint to add category to db at the moment

### Describe the solution you'd like:

post following JSON structure:

[code]
so it can be added to the database.

If category with that title already exists then endpoint should return error.

### Additional context:

User need to be authorised(logged in) with access_token

[2020-08-08 06:43] annabauza opened #20 "feat: Create add section POST endpoint"
### Is your feature request related to a problem? Please describe.

We have no endpoint to add section to db at the moment

### Describe the solution you'd like:

post following JSON structure:

[code]
so it can be added to the database.

If section with that title for this category already exists then endpoint should return error.

if category with that title does not exists it should add one, ot

[2020-08-08 08:34] annabauza opened #21 "feat: Create add video POST endpoint"
### Is your feature request related to a problem? Please describe.

We have no endpoint to add section to db at the moment

### Describe the solution you'd like:

post following JSON structure:

[code]
so it can be added to the database.

#### Above json should update following tables:
- add video record if it does not exists (determinate by url), if it exist it should update existing relation,
-

[2020-08-08 08:38] annabauza opened #22 "feat: Create add YouTube video POST endpoint"
### Is your feature request related to a problem? Please describe.

We have no endpoint to add section to db at the moment

### Describe the solution you'd like:

post following JSON structure:

[code]
so it can be added to the database.

This endpoint should use YouTube API to fetch all informations about video. YouTube API token should be added to environment variables.

#### Above json should u

[2020-08-08 09:02] annabauza opened #23 "feat: add GET all authors endpoint"
### Is your feature request related to a problem? Please describe.
We do not have endpoint which list all available authors

### Describe the solution you'd like:
[code]

[2020-08-08 09:07] annabauza opened #24 "feat: add endpoint GET all videos by author id or author name"
### Is your feature request related to a problem? Please describe.
author id or author name should be url parameter.

### Describe the solution you'd like:
get should return videos by specific author in expected json structure

Get list of all authors in following json structure:
[code]

[2020-08-08 09:13] annabauza opened #25 "feat: add preview url to videos table"
### Is your feature request related to a problem? Please describe.
We need to provide preview url for our front-end so we can see on video cell.

### Describe the solution you'd like
Extend videos table with preview url, so it looks as follows:

**VIDEOS TABLE**
|Key   |Type   |
|---|---|
|ID   | unique id  |
|URL   | string  |
|PREVIEW   | string  |
|TITLE   |  string |
|PUBLISHED   | int(date)

[2020-08-08 11:30] vatsalkul commented on #25
@annabauza Can you assign this to me?

[2020-08-08 13:48] annabauza commented on #25
Sure

[2020-08-08 14:59] annabauza opened #26 "feat: add users table to database"
### Is your feature request related to a problem? Please describe.
We need to make sure unauthorised people can not change our database.

### Describe the solution you'd like
Add User table which contains:

**USERS TABLE**
|Key   |Type   |
|---|---|
|id | INTEGER | NOT | NULL|
|name | VARCHAR(30)  |
|username | VARCHAR(30)  |
|email | VARCHAR(30)  |
|password_hash | VARCHAR(100)  |
|registration_d

[2020-08-08 15:06] annabauza opened #27 "feat: add authentication endpoint"
### Is your feature request related to a problem? Please describe.
only authorised and authenticated users can make changes to database

### Describe the solution you'd like
create signup and login endpoints do users can received access_tokens for making changes in database

[2020-08-09 10:47] annabauza commented on #26
@vatsalkul I wish to work on this issue

[2020-08-09 10:49] vatsalkul commented on #26
Sure! Go ahead @annabauza

[2020-08-10 12:04] vatsalkul opened #29 "Add details to setup virtual environment and run the project"
Commands to run the project on local machine are missing. We need to add these following instructions in readme file.

[code]

[2020-08-11 07:28] annabauza commented on #29
@vatsalkul let's make it the same as wiki

[2020-08-13 09:34] Frenzyritz13 opened #32 "Create the config.yml file for the Welcome Bot"
## Description
 As a first time contributor,
 I need a bot to help guide my first contribution,
 so that I can follow this org's contribution guidelines.

 ## Mocks
 ![Screen Shot 2020-08-06 at 10 26 14 AM](https://user-images.githubusercontent.com/2440938/89543720-44299780-d7cf-11ea-82a0-bd81664f0d8e.png)

 ## Acceptance Criteria
 ### Update [Required]
 * [ ]  newIssueWelcomeComment is complete w

[2020-08-15 15:18] #25 closed

[2020-08-15 15:18] #29 closed

[2020-08-15 15:29] annabauza commented on #32
@Frenzyritz13 who approved this issue and assign you to it?

[2020-08-15 15:31] annabauza commented on #27
@vatsalkul I wish to work on this issue

[2020-08-15 15:45] vatsalkul commented on #27
@annabauza sure

[2020-08-15 15:47] Frenzyritz13 commented on #32
@annabauza I didnt mean the issue to fix that problem. I just wanted to create an example PR for the this issue. I will close and delete it as soon as someone in another repo makes a proper PR.

[2020-08-15 15:48] Frenzyritz13 commented on #32
And May asked me to create the issue for all the anitab-org repos.

[2020-08-15 16:03] annabauza commented on #32
We just need to follow the proces for creating prs. Pr is good and issue is good  it just does not follow our process

[2020-08-15 16:05] annabauza commented on #27
@vatsalkul thanks, can you re-review [this PR](https://github.com/anitab-org/stem-diverse-tv/pull/28) in order of authentication?

[2020-08-16 11:42] #26 closed

[2020-08-16 13:16] Frenzyritz13 commented on #32
@annabauza Makes perfect sense, Would you like to close and delete it?

[2020-08-17 07:18] vatsalkul commented on #23
@annabauza Can I take this issue?

[2020-09-02 18:01] RiaDhanani commented on #13
Can you elaborate a little as to how this is to be done?

[2020-09-30 18:42] Sanika1999 commented on #32
Can I work on this?

[2020-10-01 08:56] Aaishpra commented on #32
@nandini45 @annabauza can i work on this ?

[2020-10-01 09:38] nandini45 commented on #32
@Aaishpra @Sanika1999 this issue has some problem that is why it didn't have the available tag. Look for issue with available tags.. there are plenty  more issues in the repository with available tag.. if you want you can work on them

[2020-10-01 10:01] Sanika1999 commented on #32
Alright 🙂

[2020-10-10 11:28] #27 closed

[2020-10-14 12:16] nandini45 commented on #13
@gaurivn  can you update Ria about what the issue is?

[2020-12-19 08:25] vatsalkul opened #38 "chore: fix deploy on Heroku"
### Issue
App Is not deploying on Heroku as we have not uploaded google credentials json file.
To solve this we need to add buildpack which can make use of google credential json file in the cloud without having to push it in our repository.

[2020-12-19 08:26] vatsalkul commented on #38
@anna4j @nandini45 I will push a single line change i.e. in run.py file. We just need to change firebase_cred.json to google-credentials.json

[2020-12-19 09:46] nandini45 commented on #38
Ok

On 19 Dec 2020 1:56 p.m., "Vatsal Kulshreshtha" <notifications@github.com>
wrote:

@anna4j <https://github.com/anna4j> @nandini45
<https://github.com/nandini45> I will push a single line change i.e. in
run.py file. We just need to change firebase_cred.json to
google-credentials.json

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://g

[2020-12-23 15:10] #38 closed

[2020-12-26 11:22] NenadPantelic commented on #20
Hi @annabauza , can I work on this issue?

[2020-12-26 12:24] annabauza commented on #20
Yours @NenadPantelic

[2020-12-26 12:26] annabauza commented on #32
approved

[2020-12-26 12:42] Aaishpra commented on #32
Can i take this up? @annabauza

[2020-12-26 16:09] #19 closed

[2020-12-28 14:34] NenadPantelic commented on #16
@annabauza  I would like to work on this issue :smile:

[2020-12-29 11:11] #20 closed

[2020-12-29 11:11] annabauza commented on #32
sure @Aaishpra , yours!

[2020-12-29 11:12] annabauza commented on #16
yours @NenadPantelic

[2020-12-29 11:15] NenadPantelic commented on #16
@annabauza Do you want to include elastic-search or to do this just with the ignore case search at this point?

[2020-12-29 14:42] Aaishpra commented on #32
@annabauza I have submitted the PR, kindly review it once you get time.
Thanks.

[2020-12-31 08:55] annabauza commented on #16
Ignore case

[2020-12-31 11:44] #32 closed

[2020-12-31 11:44] annabauza commented on #32
Thanks, approved and merged.

[2021-01-01 11:38] #23 closed

[2021-01-01 13:24] annabauza opened #42 "Add filter by video type to get videos endpoint"
### Is your feature request related to a problem? Please describe.
Out of 8 platforms only 1 at the moment supports youtube videos. We should be allowed to filter videos by supported formats.

### Describe the solution you'd like
The endpoint should take either include or exclude parameter in url and return only list of videos which satisfy filtered types.

### Describe alternatives you've conside

[2021-01-03 13:46] #16 closed

[2021-01-03 14:00] NenadPantelic commented on #21
@annabauza  I would take this one too. :smiley_cat:

[2021-01-03 14:13] NenadPantelic opened #44 "Code cleanup: Clean the codebase and setup the code convention"
*What to do:* make some changes (polishing ones) to the existing codebase:
1.remove unused imports
2. format the code (by PEP8 convention)
3. restructure files:
 - controllers (for API endpoints)
 - validations
 - DAO
 - model
 - service (for more complex business logic)
 - mappers
 - ....
4. make a standard for endpoint URLs. By RESTful concept, for resources, plurals should be used: e.g. `users`

[2021-01-03 14:13] NenadPantelic commented on #44
@annabauza @vatsalkul @nandini45 What do you think about this?

[2021-01-03 14:45] annabauza commented on #44
💯  , however, can we add PEP8 convention to guidelines? Also how to make vs code for instance to automatically do this convention. If we use any shell we add linter to not merge code which already been reformatted?

[2021-01-03 14:47] annabauza commented on #21
yours @NenadPantelic

[2021-01-04 12:13] NenadPantelic commented on #21
I think we need to clarify a few things:
1. what's the difference between `section` and `category` and how do they relate?
2. how video is related to `section` and `category`?
3. I think we need to review user experience through UI. E.g. when some record is created, like a video, it is expected that the user will add a section and category. I think the best option is to have some kind of dropdown

[2021-01-09 09:41] annabauza commented on #21
Please have a look at our alpha app. https://play.google.com/store/apps/details?id=com.stemdiversetv
Section is subcategory. We use category in hamburger menu and section is Header + content. Each category contains multiple sections.

[2021-01-09 09:52] annabauza commented on #21
@NenadPantelic I have add some guide here https://github.com/anitab-org/stem-diverse-tv/wiki/Response-Data-Structure

[2021-01-09 09:53] annabauza commented on #13
I have add short guide here https://github.com/anitab-org/stem-diverse-tv/wiki/Response-Data-Structure @RiaDhanani

[2021-01-09 09:54] NenadPantelic commented on #21
Hi @annabauza, the link is invalid.  OK, one category contains multiple sections. But can one section be part of multiple categories (or in other words is that relation one-to-many or many-to-many)? Video is strictly related to one category and one section (which are mutually connected)? Thanks :slightly_smiling_face:

[2021-01-09 09:55] NenadPantelic commented on #21
And yeah, what do you think about the second part of my comment (doubt)?

API expects valid category and section - dropdown where the title of those are listed and ids/titles are sent
if those are not valid (existing) throw an error
I think this is a cleaner way from the user's perspective, in this way the options are provided and the user only needs to choose them. In the scenario where the categ

[2021-01-09 10:14] annabauza commented on #21
@NenadPantelic in this repo there is wiki on top right. Please look into database and response structure if link doesn't work.

[2021-01-15 07:18] jalajcodes commented on #22
I'd like to work on it...

[2021-01-15 08:37] annabauza commented on #22
@jalajcodes yours, however please join our Saturday session we will talk about some challenges here.

[2021-01-16 10:37] NenadPantelic commented on #24
Hi @annabauza. I would take this after you approve my previous PR. I'm not precisely sure what all of the fields in the response body represents, based on the wiki, I assume that format Applicaster requires. I also think we'll need db adjustment so we can save the information we need for this kind of response structure.

[2021-01-16 12:50] jalajcodes commented on #22
@annabauza Sorry, I missed today's session. I'll definitely join the the later ones, they happen every satuday right?

[2021-01-16 12:51] annabauza commented on #22
Every second Saturday @jalajcodes

[2021-01-16 12:53] jalajcodes commented on #22
@annabauza Oh okay

so should I start working on this issue or wait until next session?

[2021-01-16 12:55] annabauza commented on #22
Post endpoint will take author ids instead of author name

[2021-01-16 13:16] jalajcodes commented on #22
Okay, so endpoint should accept this JSON structure?
[code]

[2021-01-17 14:53] #21 closed

[2021-01-17 15:02] annabauza commented on #22
`  "authors": [ 1, 2, 3  ]`

[2021-01-18 11:30] NenadPantelic opened #46 "Bug: Update README with the additional instructions for the firebase setup"
### Describe the bug
In the README, for the Firebase integration, these instructions are provided:
- Please download Firebase Admin SDK service json file from Firebase Console and put that in project's root directory. Rename file to firebase_cred.json
- Make .env file from given .env.template file and add details like API_KEY, which is a web api key from firebase. Find your project's web api key i

[2021-01-18 11:34] NenadPantelic commented on #46
If approved, I would take the README update. @jalajcodes solved the second part ->  changed the code (renamed required file name to `google-credentials.json.`) :slightly_smiling_face:

[2021-01-18 11:45] jalajcodes commented on #46
Let's not forget the `.gitignore` file, it needs to be updated too.

[2021-01-18 11:45] jalajcodes commented on #46
Let's not forget the `.gitignore` file, it needs to be updated too.

[2021-01-20 08:08] annabauza commented on #46
@NenadPantelic this issue does not follow our structure, have you use the template?

[2021-01-20 08:09] annabauza commented on #46
Should follow bug issue here:
### Describe the bug
A clear and concise description of what the bug is.

### To Reproduce
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

### Expected behavior
A clear and concise description of what you expected to happen.

### Screenshots
If applicable, add screenshots to help explain your problem.

### Desk

[2021-01-20 14:01] annabauza commented on #46
Brilliant @NenadPantelic issue approved

[2021-01-22 10:45] vatsalkul opened #47 "feat: Implement Authorisation functionality"
### Is your feature request related to a problem? Please describe.
As of now anyone can access our backend features. But this is originally intended to work for only authorised users.
We need to implement authorisation functionality.

### Describe the solution you'd like
Authentication is already implemented, we have used firebase email signing. Now, we need to make our backend talk to firebase.
F

[2021-01-22 11:53] NenadPantelic commented on #47
@vatsalkul Can I take this one? I've already taken an issue, but I'm waiting with the implementation because it has some cross-issue things with another issue, so I'm waiting for it to be implemented because I need some db restructuring which will make some conflicts with that issue. Sorry, this was such a confusing explanation. In other words, I'm free to do this :blush:

[2021-01-22 15:44] raghavjoshi789 commented on #46
Can I take this issue

[2021-01-22 16:02] raghavjoshi789 commented on #46
I will do the following updates in `README.md`
- Replace `firebase_cred.json` to `google-credentials.json` in both `README.md` and `.gitignore`
- Add detailed instructions for getting `google-credentials.json` file
- Adding instructions for getting API KEY ( I created API key from cloud console/credentials )

I don't have any experience in open source or firebase

[2021-01-22 19:12] vatsalkul commented on #47
@NenadPantelic Yeah, It's. confusing. No problem! I will assign this to you. Let me know if you need any help

[2021-01-23 09:52] NenadPantelic commented on #47
Sure @vatsalkul. Thanks :blush:

[2021-01-23 12:53] NenadPantelic commented on #47
@vatsalkul @annabauza I created an authorization check through decorator middleware Can you please review this?

[2021-01-24 10:37] annabauza opened #49 "Research if we can stream youtube to mp4 video format"
## Description
As a user
I need stream creative comons youtube videos to mp4,
so that I can watch videos on any platform.

## Mocks
I have updated [this script](https://github.com/kobiburnley/youtube-dl-stream) to python3 and was able to hear audio, if we could stream youtube to mp4 videos then we would be able to prepare content for creative commons license and support multiple devices!!!

[code]

[2021-01-24 10:43] annabauza commented on #49
Just confirmed we can http://localhost:5000/?id=igrmnpIxocg&formats=22,18,43

[2021-01-24 10:44] #49 closed

[2021-01-24 10:55] annabauza opened #50 "Create endpoint that stream mp4 from youtube video"
## Description
As a user
I need stream creative commons youtube videos to mp4 video,
so that I can watch videos on any platform.

## Mocks
I have updated [this script](https://github.com/kobiburnley/youtube-dl-stream) to python3 and was able to stream youtube video as mp4. Below is updated script to python 3.

[code]
Endpoint should take youtube video id as argument and return stream by selected f

[2021-01-24 10:56] #47 closed

[2021-01-24 13:51] annabauza commented on #46
yours @raghavjoshi789

[2021-01-25 11:26] NenadPantelic commented on #44
Hi @annabauza, I would like to take this one? I will a bit with the implementation of that other issue because we need to restructure the database, so it stores info we need in response JSON.

[2021-01-25 11:59] annabauza commented on #44
Sure @NenadPantelic

[2021-01-25 12:38] chinmaym07 commented on #50
Hey @annabauza  Can I try working on this issue.?

[2021-01-26 07:57] annabauza commented on #50
Yes @chinmaym07 yours!

[2021-01-28 12:10] chinmaym07 opened #51 "Bug : Errors in Readme.md"
### Describe the bug

The json file downloaded from firebase console is to be renamed as 'google-credentials.json' instead of 'firebase-cred.json'

![Screenshot from 2021-01-28 17-32-33](https://user-images.githubusercontent.com/44670961/106136312-21c97300-618f-11eb-8ee2-5799a0782608.png)

### Desktop (please complete the following information):
 - OS: Ubuntu 20.04
 - Browser Firefox

[2021-01-28 12:50] jalajcodes commented on #51
@chinmaym07  Hi there! There's already an open issue regarding this [here](https://github.com/anitab-org/stem-diverse-tv/issues/46)

[2021-01-28 14:17] pratikghule commented on #50
Hey Anna , I liked the project and wanted to contribute , how can get started ?
Should the video streaming be like what we see in whatsapp?

[2021-01-28 15:42] chinmaym07 commented on #51
Sorry I didn't saw ...I'll close this .thanks @jalajcodes

[2021-01-28 15:43] #51 closed

[2021-01-29 20:14] annabauza commented on #50
@pratikghule there is planty to do, maybe will be good start to join tomorrow [open session](https://calendar.google.com/calendar/u/0?cid=c2gxMHR2M210ZnZlNjJzb21nOW5uZ3A5dGdAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQv)

[2021-01-30 07:50] pratikghule commented on #50
hey , i can't see any link there!
can you send the direct link!

[2021-01-30 22:23] annabauza opened #52 "Get latest videos should not require authentication token"
### Describe the bug
Our STEM diverse have multiple client apps:
1. CMS which require authentication for each configuration (addin/edditing) endpoint
2. Mobile and TV Client apps - which read configured data unrestricted

### To Reproduce
Steps to reproduce the behavior:
1. Go to https://stem-diverse-tv.herokuapp.com/
2. Click on GET /video/latest
3. Click on Try it
4. See endpoint requires authen

[2021-01-31 12:56] annabauza opened #53 "Fix: move /video/add_category to /category endpoint"
### Describe the bug
Move Add Category from video endpoint to category just like section endpoint

### To Reproduce
Steps to reproduce the behavior:
1. Go to https://stem-diverse-tv.herokuapp.com/
2. Click on Video
3. Scroll down to Add category
4. See category should not be under video endpoint structure

### Expected behavior
Post Category should be separate from video

### Screenshots
<img widt

[2021-01-31 13:33] annabauza opened #54 "Feat: POST section, category connection"
### Is your feature request related to a problem? Please describe.
Create a post endpoint to add section category connection

### Describe the solution you'd like
I want to be able to create multiple connections between categories and sections

[2021-01-31 13:35] annabauza opened #55 "Feat: GET all categories endpoint"
### Is your feature request related to a problem? Please describe.
We can not list all categories on our CMS

### Solution
Add GET all categories endpoint - authentication required

[2021-01-31 13:38] annabauza opened #56 "Feat: Add GET all sections endpoint for given category id"
### Is your feature request related to a problem? Please describe.
In our CMS we want to list all sections for selected category

### Describe the solution you'd like
Add GET all sections endpoint for given category id

### Additional context
endpoint path format: `/categories/{id}/sections`
Endpoint returns all sections for given category with titles and identifiers

[2021-01-31 13:44] annabauza opened #57 "Feat: create POST section and video connection"
### Is your feature request related to a problem? Please describe.
in our CMS we want to add existing video to section

### Describe the solution you'd like
- POST should be authenticated
- required existing video id
- required existing section id

### Additional context
Return success or fail

[2021-01-31 14:50] annabauza commented on #24
@NenadPantelic how it's going, I just assigned you to other issues. Please make sure you have been assigned to 1 issue at the time. Thanks.

[2021-01-31 14:51] annabauza commented on #44
@NenadPantelic how many issues are you working on?

[2021-01-31 14:52] #42 closed

[2021-01-31 15:01] NenadPantelic commented on #24
Unassigning myself due to multiple issues assignment.

[2021-01-31 15:09] annabauza commented on #24
Thats great, it's not such a high priority.

[2021-01-31 15:12] annabauza commented on #55
@vatsalkul @NenadPantelic I want to work on that issue, it's a blocker for CMS

[2021-01-31 15:15] NenadPantelic commented on #55
Sure :slightly_smiling_face:

[2021-01-31 15:18] NenadPantelic commented on #52
Maybe we can go with no token at the moment, and later add token (generated in our backend). If we stick to this idea (just removing `token_required` decorator) then this is a `First-timer` issue.

[2021-01-31 15:51] annabauza commented on #52
we need to get to the point that we could have client testing apps.

[2021-01-31 16:48] NenadPantelic commented on #44
Plan:
1) remove unused imports
2) check methods - if they belong to the proper class/file
3) create controller folders
4) make uniform URL standard - pluralize resources
5) make uniform file naming
6) format the code - one option is to use linters (define .pylintrc) or define the usage of some formatted - e.g. `black`
What do you think @annabauza, especially about 6)?

[2021-01-31 18:07] jalajcodes commented on #53
I'd like to work on this one.

[2021-01-31 18:47] annabauza commented on #53
yours @jalajcodes

[2021-01-31 19:21] NenadPantelic commented on #56
@annabauza  I would take this one, ofc after you review the previous PR :slightly_smiling_face:. This thing can also be implemented on CMS, just after we have this endpoint.

[2021-02-01 10:42] annabauza commented on #56
Yours @NenadPantelic

[2021-02-01 18:57] ansh-mehta commented on #13
@annabauza I want to work on this but I am not getting a clear understanding of what we are trying to solve. I went through the short guide you provided. Is it possible to elaborate more? :)

[2021-02-02 07:52] #53 closed

[2021-02-02 08:24] annabauza commented on #55
@NenadPantelic @jalajcodes @vatsalkul I'm releasing that one as I haven't finished it on Sunday and it's important one. Feel free to take it if you can finish before next weekend. Thanks!

[2021-02-02 08:31] annabauza opened #61 "feat: Add edit category endpoint"
### Is your feature request related to a problem? Please describe.
I want to have ability to change the category title

### Describe the solution you'd like
PATCH endpoint sending new title for given id

### Describe alternatives you've considered
PUT endpoint.

[2021-02-02 08:32] annabauza opened #62 "feat: Add edit section endpoint"
### Is your feature request related to a problem? Please describe.
I want to have ability to change the section title

### Describe the solution you'd like
PATCH endpoint sending new title for given id

### Describe alternatives you've considered
PUT endpoint.

[2021-02-02 08:44] jalajcodes commented on #55
@annabauza I'm working on it. 😄

[2021-02-02 10:30] jalajcodes commented on #61
Am I eligible to take this issue? @annabauza

I have created PR's for the previous issues assigned to me and they are ready to be reviewed.

[2021-02-02 12:04] annabauza commented on #61
Yours @jalajcodes

[2021-02-02 12:19] NenadPantelic commented on #62
@annabauza  Can I take this one?

[2021-02-02 12:22] annabauza commented on #62
Yours @NenadPantelic

[2021-02-02 12:24] NenadPantelic commented on #44
@annabauza  You closed this issue and its corresponding PR is not merged. The PR you linked is not related to this issue :sweat_smile:

[2021-02-02 12:25] annabauza commented on #44
Sorry I'm on mobile

[2021-02-02 12:30] NenadPantelic commented on #44
No prob :smile:

[2021-02-03 12:30] NenadPantelic commented on #54
@annabauza  I would take this one. (finished all other issues - opened PRs).

[2021-02-03 14:24] annabauza commented on #54
Sure @NenadPantelic

[2021-02-03 14:33] #62 closed

[2021-02-03 17:46] Rahulm2310 commented on #52
@annabauza I would like to take this up. Can it be assigned to me ?

[2021-02-03 18:23] #22 closed

[2021-02-03 18:23] #55 closed

[2021-02-03 18:26] annabauza commented on #52
yours @Rahulm2310

[2021-02-03 18:28] annabauza commented on #13
@ansh-mehta please take easier issue for start.

[2021-02-03 18:32] annabauza opened #67 "Review the code and improve with Lambda expressions"
### Is your feature request related to a problem? Please describe.
We want to avoid multiple lines loops and use lambda expressions instead.

### Additional context
[python docs](https://docs.python.org/3/reference/expressions.html?highlight=lambda#grammar-token-lambda-expr)

[2021-02-03 18:35] annabauza opened #68 "Feat: create DELETE section and video connection endpoint"
## Is your feature request related to a problem? Please describe.
In our CMS we want to remove existing existing connection between section and video

## Describe the solution you'd like
DELETE should be authenticated

## Additional context
Return success or fail

[2021-02-03 18:36] annabauza opened #69 "feat: DELETE section endpoint"
## Is your feature request related to a problem? Please describe.
In our CMS we want to remove existing section

## Describe the solution you'd like
DELETE should be authenticated

## Additional context
If section has existing connections in other tables those records should also be removed
Return success or fail

[2021-02-03 18:38] annabauza opened #70 "feat: DELETE existing category endpoint"
## Is your feature request related to a problem? Please describe.
In our CMS we want to remove existing category

## Describe the solution you'd like
DELETE should be authenticated

## Additional context
If category has existing connections in other tables those records should also be removed
Return success or fail

[2021-02-03 18:55] annabauza opened #72 "bug: remove details from /video/youtube payload"
### Describe the bug
youtube payload takes too much in payload. We should be able to edit freshly created youtube. This will require bunch of updates.

Remove this from payload:
[code]

### To Reproduce
Steps to reproduce the behavior:
1. Go to https://stem-diverse-tv.herokuapp.com/
2. Click on /video/youtube payload
3. See payload takes too many arguments

### Expected behavior
Payload should onl

[2021-02-03 19:02] annabauza opened #73 "bug: move /sections/category/{id} to category/{id}/section"
### Describe the bug:

hierarchy for our data structure is:
Categories contains sections, sections contains videos.
move `/sections/category/{id}` to `category/{id}/section`

### To Reproduce
Steps to reproduce the behavior:
1. Go to https://stem-diverse-tv.herokuapp.com/
2. Click on /sections/category/{id}
3. See error this should be under category rather then section

### Expected behavior
url s

[2021-02-03 19:22] chinmaym07 commented on #50
@annabauza I think I was assigned 2 issues one in backend and one in cms . so please unassign this for now . I'll complete the cms one first then I'll come back here . if this stays available. Thanks..

[2021-02-03 19:27] annabauza commented on #50
thank you @chinmaym07 that's a great sharing spirit!

[2021-02-03 19:29] #52 closed

[2021-02-03 20:15] Rahulm2310 commented on #73
@annabauza I would like to work on this.

[2021-02-04 09:52] NenadPantelic commented on #73
@annabauza I think this is part of my PR, so I can change that (I added it here, just to make it part of the sections component, but generally, by REST principles it is cleaner to nest it the way you suggested) because I have other PR related to this still opened and I have some changes to add. Of course, I can just add those changes (remove auth) and let @Rahulm2310 do this one. PR #65

[2021-02-04 09:55] NenadPantelic commented on #44
I think this should be closed -> changes are reflected on the master.

[2021-02-04 10:08] jalajcodes commented on #67
@annabauza  I'll take it.

[2021-02-04 13:01] #44 closed

[2021-02-04 13:02] annabauza commented on #67
Sure @jalajcodes

[2021-02-04 19:26] annabauza commented on #73
Yes @NenadPantelic I understand where your idea came from but I think in that case it would be filter by none path arguments in URL.

[2021-02-04 19:26] annabauza commented on #73
@Rahulm2310 yours

[2021-02-05 05:18] jalajcodes commented on #67
Hey Anna! I just finished refactoring the code to use lambda expressions, but I am curious why you want to use lambda instead of for loops?
Loops feel more pythonic to me, and they are more readable...

[2021-02-05 17:09] NenadPantelic commented on #57
@annabauza Can I take this one?

[2021-02-05 18:21] #67 closed

[2021-02-05 18:23] #61 closed

[2021-02-05 19:45] #73 closed

[2021-02-05 20:11] Rahulm2310 commented on #72
@annabauza I would like to work on this.

[2021-02-05 22:06] annabauza commented on #57
Sure, I'll add some more tomorrow

[2021-02-06 02:24] jalajcodes commented on #70
@annabauza I would like to take it.

[2021-02-06 12:28] #54 closed

[2021-02-06 12:33] annabauza commented on #72
Yours @Rahulm2310

[2021-02-06 12:34] annabauza commented on #70
Yours @jalajcodes

[2021-02-07 11:30] NenadPantelic commented on #69
@annabauza  I would like to take this one.

[2021-02-07 12:38] annabauza commented on #69
Fix your pr first

[2021-02-07 19:25] #57 closed

[2021-02-07 21:17] NenadPantelic commented on #69
I fixed the PR we discussed, I suppose I can this one now?

[2021-02-08 08:17] annabauza commented on #69
Yes @NenadPantelic, yours!

[2021-02-10 12:50] Vaibhav-Ganatra commented on #24
Hey @annabauza , I'd like to work on this issue. Could you please assign it to me?

[2021-02-10 19:33] chinmaym07 opened #81 "Bug:Multiple user can be created using same email id"
### Describe the bug
A clear and concise description of what the bug is.
Currently when a user tries to register to stem-diverse .It only searches for user with username not with email .A user can create multiple account with same email id but with different username each time .You might get error while creating the user with same email id in firebase .but if you switch to any other database then

[2021-02-11 18:27] Rahulm2310 commented on #72
@annabauza is it okay to remove `category_sections` and `authors` from the REQUIRED_FIELDS_MAP as we are not passing these in the payload ?

[2021-02-11 18:38] Rahulm2310 commented on #46
@raghavjoshi789 Don't mind but can you be little quicker as these changes are important and should be fixed asap so that newcomers don't face difficulty in setting up the project.

[2021-02-11 20:52] #70 closed

[2021-02-11 20:54] #69 closed

[2021-02-11 21:08] annabauza commented on #72
yes

[2021-02-11 21:08] annabauza commented on #81
approved

[2021-02-11 21:10] annabauza commented on #24
yours @Vaibhav-Ganatra

[2021-02-11 21:14] annabauza commented on #24
actually @Vaibhav-Ganatra this issues does not makes any sense at this point I'm putting it `on hold`

[2021-02-12 03:30] jalajcodes commented on #50
I want to try working on it 🙂

[2021-02-12 07:34] annabauza commented on #50
@jalajcodes yours 💪 good luck!

[2021-02-12 11:25] NenadPantelic opened #83 "Bug: Database constraints/indexes and data validations are missing"
### Describe the bug
I think we need some database constraints (unique, not null) and indexes for some fields. That's the reason we have some bugs in our use-cases: multiple categories with the same name, users with the same username/email. This should be combined with the POST/PUT data validations.

### To Reproduce
Steps to reproduce the behavior:
1. Go to Postman/Swagger UI
2. create a category

[2021-02-12 11:39] NenadPantelic commented on #83
@annabauza What do you think? I can take this one if you agree.

[2021-02-12 11:46] NenadPantelic commented on #83
#81 also goes with this issue.

[2021-02-12 13:44] annabauza commented on #83
Thanks @NenadPantelic approved and yours. I understand its a blocker for you.

[2021-02-12 16:24] Vaibhav-Ganatra commented on #24
Oh, okay @annabauza . Which issue(s) can I work on then?

[2021-02-12 16:52] annabauza commented on #24
#68

[2021-02-12 16:54] annabauza commented on #24
@Vaibhav-Ganatra but you need to ask in comment first.

[2021-02-12 17:19] Vaibhav-Ganatra commented on #68
Hey @annabauza , for this issue, I'd have to delete the corresponding entry in the `section_video` table, right?

[2021-02-12 21:59] annabauza commented on #56
Reopening the issue @NenadPantelic I can't see this GET in swagger UI
<img width="550" alt="Screenshot 2021-02-12 at 21 58 50" src="https://user-images.githubusercontent.com/31966073/107826893-9a2e5780-6d7d-11eb-9a2b-add7cb5950a0.png">

[2021-02-12 22:17] #50 closed

[2021-02-12 22:38] annabauza opened #85 "Add description to video stream converter"
### Describe the bug
Swagger should explain what are acceptable formats for stream converter
Endpoint should take youtube video id as argument and return stream by selected format:

### To Reproduce
Steps to reproduce the behaviour:
1. Go to https://stem-diverse-tv.herokuapp.com/
2. Click on GET /videos/stream/{videoId}/{format}
3. See there is no description about available formats

### Expected

[2021-02-13 03:04] Rahulm2310 commented on #81
@chinmaym07 Please correct the issue title from `Mutliple` to `Multiple`.

[2021-02-13 04:45] chinmaym07 commented on #81
Sorry & thanks 😂

[2021-02-13 08:11] NenadPantelic commented on #56
It's strange. I did it, It was there, you reviewed it and merged it. I'm pretty sure some other PR removed that. I can leave this https://github.com/anitab-org/stem-diverse-tv/issues/56 and patch this one because first I have that code locally :joy:

[2021-02-13 08:24] annabauza commented on #13
@NenadPantelic  as we speak I assigning you to this issue

[2021-02-13 08:26] NenadPantelic commented on #56
Edit: I commented on this one before the Open Session. So, I will be assigned to another issue to work on. If someone wants to solve this, go ahead. If not, I can solve it when I finish that other issue, cause I have this code on my fork. (Note: It was solved in one of the PRs, there is a code there, but it was removed accidentally in some other PR)

[2021-02-13 08:26] NenadPantelic commented on #13
Deal :slightly_smiling_face:

[2021-02-13 08:51] chinmaym07 commented on #85
@annabauza Can I try this?

[2021-02-13 16:54] nandini45 commented on #50
@annabauza  have we closed it?
or we need to work on it?

[2021-02-13 19:36] #72 closed

[2021-02-13 19:43] Rahulm2310 commented on #56
@annabauza I would like to fix this.

[2021-02-13 19:53] annabauza commented on #56
Yours @Rahulm2310

[2021-02-13 19:57] decon-harsh commented on #81
Can i work on this?

[2021-02-14 10:48] NenadPantelic commented on #13
@annabauza I'm curious about a few fields in the response:
1. we have a content src which is actually a URL to mp4 converted video AKA stream. What is the field `link` then (a link of the original video from YT e.g. that we saved in the database, right)?
2. what about `media_group` fields?

[2021-02-14 14:04] decon-harsh commented on #81
@chinmaym07 Let me know if this is available?

[2021-02-14 14:16] chinmaym07 commented on #81
@decon-harsh I think this is available but this issue is addressed in #83
I think @annabauza can answer this.

[2021-02-15 01:15] jalajcodes commented on #83
Can I work on it? @annabauza

[2021-02-15 08:29] #56 closed

[2021-02-15 10:35] annabauza commented on #13
1. Yes let's try like that.

[2021-02-15 10:35] annabauza commented on #13
Media group is image preview

[2021-02-15 10:36] annabauza commented on #13
So in media group you leave as it is just replace URL to image preview

[2021-02-17 20:49] Rahulm2310 commented on #81
@chinmaym07 I think there is no need for this issue anymore as it is a part of #83. You can close it.

[2021-02-17 20:52] Rahulm2310 commented on #46
@annabauza Please make this issue available as there seems to be no response from @raghavjoshi789 side.

[2021-02-17 20:59] decon-harsh commented on #83
I can take this up!

[2021-02-18 12:11] NenadPantelic opened #90 "docs: Update documentation with the details about enabling YT API"
### Is your feature request related to a problem? Please describe.
For using YT API (we need it to get the details about the YT video in the `/videos/youtube` endpoint) we need to enable it in the Google Cloud console. Otherwise, the YT API will give the permission error. I think we need to add it to the README.
### Describe the solution you'd like
Add a note about the YT API enabling to the READM

[2021-02-18 12:11] NenadPantelic commented on #90
@annabauza I think this would be a good issue for the `First-timers`.

[2021-02-18 12:13] annabauza commented on #90
Yes thank you @NenadPantelic

[2021-02-18 18:10] Rahulm2310 commented on #90
@annabauza  Can I pick this ?

[2021-02-18 19:34] #13 closed

[2021-02-19 19:25] vatsalkul opened #92 "Send verify link to user's email address."
### Is your feature request related to a problem? Please describe.
When we register a new user, the verify link is returned in the response, which is not a good thing.
In order to verify user, our system needs to send the verification link to user's registered email address.

### Describe the solution you'd like
To be able to send an email we can use third party services like mailgun but using gma

[2021-02-19 19:25] vatsalkul commented on #92
@annabauza @nandini45 Can I take this issue?

[2021-02-20 12:06] annabauza commented on #92
approved

[2021-02-20 12:07] annabauza commented on #92
your's @vatsalkul

[2021-02-20 12:58] NenadPantelic opened #93 "feat: Configure CORS headers"
### Is your feature request related to a problem? Please describe.
We need CORS setup to enable the communication between API and CMS.

### Describe the solution you'd like
Define the list of allowed origins. The Port of the origin should be: 3000,  we will probably use the default React port.

### Describe alternatives you've considered
For the initial phase, we could allow all origins, but we ne

[2021-02-20 13:01] NenadPantelic commented on #93
@anna4j @vatsalkul Can you review this and label it. Maybe, this could go to newcomers initially because it's easy and doesn't require much work. But if no `first-timer` soon takes this, anyone can take this to prevent a time gap, cause it's necessary for the integration of the CMS with the backend.

[2021-02-20 13:15] Debanitrkl commented on #93
I'm up to take this issue.

[2021-02-20 13:57] annabauza commented on #83
This is great approved

[2021-02-20 17:06] NenadPantelic commented on #83
@annabauza  Should I create two issues from this one: 1) update database with missing fields, constraints and indexes and 2) add validations - unique fields, username length, email format etc?

[2021-02-21 09:22] jalajcodes opened #94 "Bug: Endpoint to add youtube video returns an error"
### Describe the bug
`/videos/youtube` endpoint returns 500 Internal server error

### To Reproduce
Steps to reproduce the behavior:
1. Start the server.
2. Go to `http://localhost:500`
3. Scroll down to `video/youtube` endpoint
4. Fill in the required details and make the request.
5. See error.

### Expected behavior
The endpoint should create a new video.

### Screenshots
![image](https://user-i

[2021-02-21 09:24] jalajcodes commented on #94
@annabauza Can you please label it? I think it will a good issue for newcomers unless it's a blocker for something else?

[2021-02-21 09:48] annabauza commented on #93
approved @Debanitrkl yours!

[2021-02-21 09:51] annabauza commented on #93
@NenadPantelic I think just debug version use 3000 build version (static page) used standard http port, no?

[2021-02-21 12:38] NenadPantelic commented on #93
Well, we can deploy to any port actually, we can define whatever port we want (if it is not used). For testing, 3000 sounds good.

[2021-02-21 16:41] jalajcodes commented on #94
@annabauza as the endpoint is working fine locally, so the problem must be with the deployed version. Can you confirm that the youtube API is enabled?  #90
Also, do you mind sharing the Heroku logs after sending the POST request?

[2021-02-21 16:57] NenadPantelic opened #95 "Feat: Add regular videos to the feed"
### Is your feature request related to a problem? Please describe.
At the moment, the feed doesn't apply to the regular, non-YT videos. We need to adapt the existing code, so we append regular videos to feed also.

### Describe the solution you'd like
Add regular videos to the feed too. Instead of the stream URL, pass their native URL.

### Describe alternatives you've considered
N/A
### Additiona

[2021-02-21 16:57] NenadPantelic commented on #95
@annabauza Can I take this one, cause I worked on this before?

[2021-02-22 20:26] Rahulm2310 opened #96 "Feat: Add videos to section (/section/{id}/video}"
### Is your feature request related to a problem? Please describe.
We should have functionality to add video to section with section id.

### Describe the solution you'd like
Create endpoint for adding videos to section `/section/{id}/video`

[2021-02-22 20:30] Rahulm2310 opened #97 "Feat: Add GET all videos endpoint"
### Is your feature request related to a problem? Please describe.
We want a GET all videos endpoint.

### Describe the solution you'd like
Create endpoint for GET all videos.

### Additional Context
endpoint path format: /videos/all
endpoint returns all videos

[2021-02-22 20:35] Rahulm2310 opened #98 "Feat: Add GET all sections endpoint"
### Is your feature request related to a problem? Please describe.
We want a GET all sections endpoint.

### Describe the solution you'd like
Create endpoint for GET all sections.

### Additional Context
endpoint path format: `/sections/all`
endpoint returns all `sections`

[2021-02-22 20:39] Rahulm2310 opened #99 "Feat: Add DELETE author endpoint"
### Is your feature request related to a problem? Please describe.
We need a `DELETE` author endpoint to delete a author with given id.

### Describe the solution you'd like
Create endpoint to be able to `DELETE` an author with given id.

### Additional context
endpoint path format: /authors/{id}

[2021-02-22 20:40] NenadPantelic opened #100 "Feat: Update video"
### Is your feature request related to a problem? Please describe.
We need to add an endpoint for updating the video.

### Describe the solution you'd like
Update video (PUT or PATCH method). Request payload:
[code]
If the video doesn't exist, return 404. If the video is updated, return updated video response or proper message.
### Describe alternatives you've considered
N/A

### Additional contex

[2021-02-22 20:43] Rahulm2310 opened #101 "Feat: Add PUT endpoint to update author"
### Is your feature request related to a problem? Please describe.
We need a 'PUT' endpoint to update a author with given id.

### Describe the solution you'd like
Create a `PUT` endpoint to be able to update author details with given id.

### Additional context
`PUT` endpoint path format: /authors/{id}

[2021-02-22 20:44] NenadPantelic opened #102 "Feat: Add DELETE video endpoint"
### Is your feature request related to a problem? Please describe.
We need the functionality of video removal.
### Describe the solution you'd like
Add DELETE endpoint for removing video. Use `/videos/{id}` URL and if the video with the given id doesn't exist, return 404, otherwise 204.
### Describe alternatives you've considered
N/A
### Additional context
The user must be authorized for this acti

[2021-02-22 20:48] Rahulm2310 commented on #97
@annabauza I would like to work on this.

[2021-02-22 21:13] NenadPantelic opened #103 "Feat: Add forgotten password support"
### Is your feature request related to a problem? Please describe.
If the user forgets his credentials, we need some recovery mechanism.
### Describe the solution you'd like
Add endpoint for password reset. The user provides the email and he receives the email with the following details:
1.username
2.one-time link that provides the availability for password reset.  When the user clicks on that lin

[2021-02-22 21:14] NenadPantelic commented on #103
Mail credentials setup is was already discussed in #92

[2021-02-22 21:15] NenadPantelic commented on #103
@annabauza  I can handle this?

[2021-02-22 21:24] NenadPantelic commented on #95
I would go with #103 first, cause we're focused on YT videos at the moment, so this is not urgent. It's very easy to solve if someone wants to try. If no one takes it, I will take it when I finish the other issue.

[2021-02-23 03:48] jalajcodes commented on #102
I'd like to work on it.

[2021-02-23 08:28] annabauza commented on #95
@NenadPantelic we leave change password for now as this has been listed as potential GSoC proposal. And we use Channel 9 videos so I think this one is a blocker for a frontend. Biggest blocker atm is persistent database, because every release I have to add everything before start working on frontend. Yours.

[2021-02-23 10:16] NenadPantelic commented on #95
Deal :slightly_smiling_face:

[2021-02-23 11:52] NenadPantelic opened #105 "Feat: Add configuration for persistent databases"
### Is your feature request related to a problem? Please describe.
At this point, we're using `sqlite` which is a great prototyping and dev DB. But, for production-grade we need some scalable and persistent database.

### Describe the solution you'd like
We need to configure the persistent database for the deployment. `Postgres` seems to be the best choice (highly-scalable, good interaction with p

[2021-02-23 11:52] NenadPantelic commented on #105
@annabauza  What do you think? If you approve it, I can handle it.

[2021-02-23 12:05] annabauza commented on #105
Yes approved, do you need access to firebase to configure that? I have attached postgress there.

[2021-02-23 12:06] annabauza commented on #105
You can work on that @NenadPantelic

[2021-02-23 16:14] nandini45 commented on #103
@NenadPantelic  i think you are already working on one issue. after completing that i can assign you this issue if you want.

[2021-02-23 16:15] #81 closed

[2021-02-23 16:53] Rahulm2310 commented on #101
@annabauza I would like to work on this.

[2021-02-23 18:44] NenadPantelic commented on #105
I will first make necessary configs locally and after that, I'll let you know if I need credentials to Heroku.

[2021-02-23 19:06] NenadPantelic commented on #103
Hi, @nandini45 I already discussed this with Anna, work on this issue will be delayed.

[2021-02-24 18:30] Rahulm2310 opened #106 "[clean] : Remove .github/ISSUE_TEMPLATE folder"
## Description
As a org contributor,
We need to maintain 1 version of issue templates used in the organization,
so that we can avoid duplicating work and having different versions of the templates, when we want to use the same ones across all projects.

Because the issue templates are now on [https://github.com/anitab-org/.github](https://github.com/anitab-org/.github), we don't need to have issue

[2021-02-24 18:31] Rahulm2310 commented on #106
@annabauza Can you please add labels to it. Thanks 🙂

[2021-02-24 21:27] annabauza commented on #106
@isabelcosta did you setup organisation temples already? All good to go?

[2021-02-24 22:46] isabelcosta commented on #106
Yes @annabauza, it is working well on https://github.com/anitab-org/documentation repo. You can try creating an issue and will work fine.

[2021-02-26 13:23] gaurivn commented on #85
@annabauza, I would like to work on this issue.

[2021-02-27 08:07] #95 closed

[2021-02-27 15:13] NenadPantelic opened #109 "Bug: User registration doesn't work with Postgres"
### Describe the bug
When we move to the persistent database (Postgres), user registration will make a problem. There is a problem with type mismatch - currently, the date of user creation is defined as an integer, that breaks with Postgres.
### To Reproduce
Steps to reproduce the behavior:
1. Go to `/users/register`
2. Populate the fields with valid data
3. Send the request
4. It fails (see the o

[2021-02-27 15:14] NenadPantelic commented on #109
@annabauza What do you think?

[2021-02-27 15:15] NenadPantelic commented on #109
A good idea is to open another issue - test all endpoints with the PostgreSQL database activated.

[2021-02-27 17:33] Rahulm2310 commented on #106
Anyone working on this should also update the links to these files wherever required so that we don't get a `404 Page Not Found`.

[2021-02-28 05:13] s4-2 commented on #85
Hello @annabauza,I would like to work on this issue..

[2021-02-28 05:15] s4-2 commented on #90
Hello @NenadPantelic. I would like to work on this issue.

[2021-02-28 10:04] annabauza commented on #109
Did we moved to Postgres already @NenadPantelic ?

[2021-02-28 10:16] #105 closed

[2021-02-28 10:35] annabauza commented on #109
ahh I have merged your PR and added environment variables to heroku, but it seems it still work on old db, how's it possible

[2021-02-28 10:50] NenadPantelic commented on #109
Can I take a look directly on heroku, can you show me the `.env` file?  You can send me an email.

[2021-02-28 16:25] s4-2 opened #110 "Facing problem in set up this project in my local machine"
## Description
As a [USER],
I need to set up this project in my local machine,
so that I can understand this project and work on this project.

## Mocks

![Screenshot (5)](https://user-images.githubusercontent.com/56973448/109425613-f3150700-799d-11eb-94e8-3558b42340a2.png)

When I run command pip install -r requirements.txt the above error pop up.

[2021-02-28 16:29] s4-2 commented on #110
Please help me so I can set up this project in my local machine. I am not sure that the issue I submitted is correct way to submit the issue. First time I have submitted the issue so please guide me if I need to do some correction.
Thank you.

[2021-02-28 16:37] jalajcodes commented on #110
Hi @s4-2

You could have just asked for help in the [Zulip chat](https://anitab-org.zulipchat.com/) instead of opening an issue....😉

Anyways, based on what I see in the screenshot you posted, you never cloned the repository locally? You need to clone the repository before running `pip install -r requirements.txt`

[2021-02-28 17:33] NenadPantelic commented on #110
Hi @s4-2, as @jalajcodes explained, you need to clone this repository locally:

1. Fork the repo (you said you want to explore and work on it)
![image](https://user-images.githubusercontent.com/16724101/109427409-9263e980-79f2-11eb-917b-3c7226aeaca5.png)
2. Clone it
`git clone https://github.com/YOUR_GITHUB_USER_NAME/stem-diverse-tv`
where YOUR_GITHUB_USER_NAME is your GitHub handle.
3. navigate t

[2021-02-28 18:43] s4-2 commented on #110
Thank you, I will do it.

On Sun, 28 Feb 2021, 23:03 Nenad Pantelić, <notifications@github.com> wrote:

[2021-02-28 20:33] NenadPantelic commented on #109
@annabauza Maybe we can open a new issue for that - setup production mode on Heroku?

[2021-03-01 09:07] annabauza commented on #109
what is production mode @NenadPantelic do I need to setup something else then env variables to connected postgres?

[2021-03-01 09:31] b-thebest commented on #85
Can I work on this issue ?

[2021-03-01 09:32] b-thebest commented on #90
Can I work on this issue ?

[2021-03-01 10:18] NenadPantelic commented on #90
Hi @s4-2 I don't have a privilege to assign you. cc @annabauza @vatsalkul

[2021-03-01 10:44] s4-2 commented on #90
Okay, I understand.
Thank you for informing me.

On Mon, 1 Mar 2021, 15:48 Nenad Pantelić, <notifications@github.com> wrote:

[2021-03-01 10:50] NenadPantelic commented on #109
@annabauza, production mode is the mode where the server is adapted for production (without debug stack trace, production-ready options...). Set this up:
[code]

[2021-03-01 11:02] vatsalkul commented on #90
@s4-2 assigned

[2021-03-01 11:04] annabauza commented on #109
I was missing ENVIRONMENT_CONFIG. Testing now, thanks @NenadPantelic.

[2021-03-01 11:39] jalajcodes commented on #100
I'll take it up next. @annabauza

[2021-03-01 13:14] s4-2 commented on #90
Thank you

On Mon, 1 Mar 2021, 16:32 Vatsal Kulshreshtha, <notifications@github.com>
wrote:

[2021-03-01 13:33] NenadPantelic commented on #109
@annabauza I tried registering a user on the Heroku after we moved to Postgres. The result:
![image](https://user-images.githubusercontent.com/16724101/109503800-02c64580-7a9b-11eb-9eda-2d2f47dd03b3.png)
Luckily, login works cause the old users we created in deployed version are already stored in FIrebase.
Can I take this one to solve?

[2021-03-01 15:03] s4-2 commented on #110
Sorry I am new so I was not knowing.
Thank you for your help @NenadPantelic  and @jalajcodes

[2021-03-01 15:03] #110 closed

[2021-03-01 18:27] #102 closed

[2021-03-01 18:28] #92 closed

[2021-03-01 19:14] vatsalkul commented on #109
@NenadPantelic It was due to the constraint we set in database user model. We set registration date as integer (db.Column(db.Integer)). but  we are getting a string "2021-03-01"

[2021-03-01 19:32] vatsalkul commented on #109
I think it is a quick fix. I'll do it as it is becoming a roadblock for other features

[2021-03-01 19:41] Rahulm2310 commented on #98
@vatsalkul Can I be assigned this ?

[2021-03-01 20:05] vatsalkul commented on #98
yours @Rahulm2310

[2021-03-01 20:52] NenadPantelic commented on #109
@vatsalkul You should not have closed your PR, it is not important who will work on it. It is a quick fix, suitable for newcomers, but I wanted to solve it quickly, so I volunteered. If you have it done, please reopen the PR :slightly_smiling_face:

[2021-03-01 20:56] NenadPantelic commented on #109
On the contrary, I can take #83, just to update the description and title: `Update database fields definition`. I will definitely need to restructure the DB. #83 is more important cause a lot of features are buggy without that and we need fully functional endpoints so we can easily start working on CMS. If you don't reopen your PR I can take the 81 and solve this one with that issue.

[2021-03-02 01:45] jalajcodes commented on #83
Can I take it? @annabauza

[2021-03-02 06:45] vatsalkul commented on #109
No issues @NenadPantelic. I was just following the rules. Please go ahead with your PR

[2021-03-02 07:50] annabauza commented on #94
@jalajcodes from url :https://www.youtube.com/watch?v=bVE9W73Qvzk
Error logs shows some wrong formats:
- duration
- free_to_reuse - this is Creative Commons video...

```{'name': None, 'url': 'https://www.youtube.com/watch?v=bVE9W73Qvzk', 'preview_url': 'https://i.ytimg.com/vi/bVE9W73Qvzk/sddefault.jpg', 'title': 'AlterConf NYC 2017: Stem in Single-Gender Education, Stereotype Threat, and... by El

[2021-03-02 08:45] jalajcodes commented on #94
@annabauza
- what format do we want the duration to be?
    - `'duration': '19M49S'` is what youtube returns by default...I can change it according to our needs.

- So if a video is licensed as creative commons, `free_to_reuse` should be true?
    - what about `authorized_to_reuse` ?

- As you are able to get the data from the endpoint, I think this issue should be closed...and I can create anothe

[2021-03-02 19:20] annabauza commented on #94
1. seconds I think
2. yes cc is `should be free to use`
3. rules is `free_to_reuse` or `authorized_to_reuse` so if `free_to_reuse` is `true` `authorized_to_reuse `will not be checked and I think because no one personally authorised that to be reusable then it should be `false` by default.

[2021-03-02 22:20] isabelcosta opened #113 "Migrate GitHub Wiki documentation to Docusaurus"
## Description
As an admin,
I need documentation as part of the repository code,
so that I can allow for contributors to contribute to the documentation.

## Acceptance Criteria
### Update [Required]
- [ ] Move documentation to Docusaurus
- [ ] Deploy Docusaurus as part of GitHub pages - should be available at https://anitab-org.github.io/stem-diverse-tv

## Definition of Done
- [ ] All of the req

[2021-03-03 07:37] jalajcodes commented on #94
Thanks for clarifying...
Should I create a PR fixing this?

[2021-03-03 11:02] keshakaneria commented on #68
@Vaibhav-Ganatra You can start working on this, assigned to you! Do [reach out to us](https://anitab-org.zulipchat.com/#) if you have any doubts in solving the issue :)

[2021-03-03 17:43] NenadPantelic commented on #90
Hey @s4-2  sorry. I got tons of emails these days, so I missed this notification :disappointed: . Next time, feel free to ping me on Zulip.

[2021-03-03 18:25] s4-2 commented on #90
Sure, no problem :)

On Wed, 3 Mar 2021, 23:14 Nenad Pantelić, <notifications@github.com> wrote:

[2021-03-03 18:35] Rahulm2310 commented on #98
@vatsalkul Can you please review #116.

[2021-03-03 19:31] NenadPantelic commented on #94
@jalajcodes If you're handling this, can I take #83 to complete the DB constraints? cc @annabauza @vatsalkul

[2021-03-03 22:32] annabauza commented on #94
And who's looking after cors?

[2021-03-04 06:23] jalajcodes commented on #94
someone is assigned to that issue, they haven't created a pr yet

[2021-03-05 19:24] NenadPantelic commented on #83
@annabauza @vatsalkul We have a field `name` in the videos table. Do we need that? Is that the same as `title` or not?

[2021-03-06 08:53] epicadk opened #118 "Bug : Fix race conditions in the signup endpoint."
**Describe the bug**

If two users send requests to the register endpoint at the same time and both have the same username/emailID then the backend will crash.

**To Reproduce**
Kind of hard to do this however it can be done programmatically as explained [here](https://anitab-org.zulipchat.com/#narrow/stream/222534-mentorship-system/topic/mentorship-backend/near/227497628)

**Expected behavior**

[2021-03-06 08:54] epicadk commented on #118
If this is valid I would like to work on this : ).

[2021-03-06 09:41] NenadPantelic commented on #118
This is not the only race condition case we have :slightly_smiling_face:. #83  will support this, but we need to recode controller logic.

[2021-03-06 10:05] epicadk commented on #118
Yes I did read that however I thought that would be limited to adding constraints in the database and this would fix the race conditions. Because even in mentorship we do have constraints and still have race conditions present. That's why I think this is a valid issue. What do you think?

[2021-03-07 10:45] NenadPantelic commented on #118
We definitely need database constraints, based on them, we will get integrity errors we should catch and return meaningful messages with status code.

[2021-03-08 07:44] s4-2 commented on #101
I would like to work on this, if it is available.

[2021-03-08 19:20] NenadPantelic commented on #46
@raghavjoshi789  Will you finish this sooner? cause newcomers face problems setting up the project and we need more detailed instructions on how to set this up. cc @annabauza @vatsalkul. Please, respond so we can know the status and make it available if you're not available to finish it.

[2021-03-09 05:05] HeroicHitesh commented on #46
@NenadPantelic @annabauza If possible I would like to work on this. @raghavjoshi789 if you are interested in completing it let me know.

[2021-03-09 05:18] HeroicHitesh commented on #85
@annabauza I would like to work on this.

[2021-03-09 05:29] HeroicHitesh commented on #100
@NenadPantelic @annabauza @vatsalkul I would like to work on this.

[2021-03-09 05:32] HeroicHitesh commented on #106
@annabauza @isabelcosta I would like to work on this.

[2021-03-09 18:17] NenadPantelic opened #121 "Bug: Add summary field in request body in video creation"
### Describe the bug
We need to add `summary` field in the request body in order to add a summary of the video when we create a video.
### To Reproduce
Steps to reproduce the behavior:
1. Go to `/videos/` (POST) - creating videos
2. Take a look at the request body we send
3. `summary` is missing

### Expected behavior
1. Add `summary` field in request model
2. change `summary` field - read that pr

[2021-03-09 19:14] NenadPantelic opened #122 "Feat&Dev: Set up CI with GitHub actions"
### Is your feature request related to a problem? Please describe.
For easy deploy and maintainability of the project and continuous delivery, we need to set up the CI flow. It will make the PR checking easier, enable testing and make the development and deployment much easier.

### Describe the solution you'd like
Set up the GitHub actions CI. Steps to set up:
1) linting (black formatted, flake c

[2021-03-09 19:15] NenadPantelic commented on #122
@annabauza @vatsalkul What do you think? Can I take it if you approve it?

[2021-03-09 19:21] NenadPantelic opened #123 "Bug: return created object instead of message in POST author"
### Describe the bug
Currently, when we create an author, we got a message `Author added successfully`. It would be more beneficial to return the created object.
### To Reproduce
Steps to reproduce the behavior:
1. Go to POST `/authors/`
2. Populate the payload fields
3. See the response message (if the action went successful) -

### Expected behavior
Instead of returning a message, return the rep

[2021-03-09 19:26] NenadPantelic opened #124 "Bug: change category POST endpoint"
### Describe the bug
Currently, when we create a category, we got the message `Category added`. It would be more beneficial to return the created object. Also, we provide the title of the category as the query string, we should send the data in the body.
### To Reproduce
Steps to reproduce the behavior:
1. Go to POST `/categories/`
2. Populate the payload fields
3. See the response message (if the

[2021-03-09 19:26] NenadPantelic commented on #124
@annabauza @vatsalkul Please, review and label it.

[2021-03-09 19:28] NenadPantelic commented on #122
Can I take it if you approve it?

[2021-03-10 06:35] #83 closed

[2021-03-10 06:40] annabauza commented on #93
@Debanitrkl how is it going?

[2021-03-10 06:44] #98 closed

[2021-03-10 06:47] #90 closed

[2021-03-10 19:23] epicadk opened #125 "Feat : Add dockerfile and docker-compose.yml"
### Is your feature request related to a problem? Please describe.

Adding a docker-compose.yml and using postgreSQL  as a service will ensure that our test , dev and production environments are as similar as possible.

### Describe the solution you'd like

Add dockerfile and docker-compose.yml.

### Additional context

It will also help if we want to add kubernetes in the future.

[2021-03-10 19:24] epicadk commented on #125
I'd like to work on this if it is available. : )

[2021-03-13 04:09] Anmollenka commented on #68
I would like to work on this issue if it's available.

[2021-03-13 04:10] Anmollenka commented on #85
I would like to work on this issue if it's available.

[2021-03-13 07:16] keshakaneria commented on #68
Due to inactivity of 10 days @Vaibhav-Ganatra, I'm unassigning you and assigning it to @Anmollenka

[2021-03-13 08:13] annabauza commented on #125
approved

[2021-03-13 08:18] annabauza commented on #93
release because of no response

[2021-03-13 08:30] jalajcodes commented on #93
I'll work on it.

[2021-03-16 10:55] epicadk commented on #125
Update: Still working on this. Should be done in a few days

[2021-03-17 18:54] Amulya-coder commented on #46
@HeroicHitesh sorry wait until 1st April for assigned to this issue, now as it is a part of the Open Source Hack program. It is getting assigning to the first person to comment on April for more information read [this](https://anitab-org.zulipchat.com/#narrow/stream/213491-announcements/topic/Open.20Source.20Hack/near/230741560). We hope you participate in the program! . Thanks 🙂 .

[2021-03-17 18:57] Amulya-coder commented on #106
@HeroicHitesh sorry wait until 1st April for assigned to this issue, now as it is a part of the Open Source Hack program. It is getting assigning to the first person to comment on April for more information read [this](https://anitab-org.zulipchat.com/#narrow/stream/213491-announcements/topic/Open.20Source.20Hack/near/230741560). We hope you participate in the program! . Thanks 🙂 .

[2021-03-17 19:32] Amulya-coder opened #128 "Bug : Incorrect link to bug_report.md in contributing_guidelines.md"
### Describe the bug
The links to bug report is incorrect in the  Contributing Guidelines file you can see this by also scrolling to the [Contributing section](https://github.com/anitab-org/stem-diverse-tv#contributing) in readme

### To Reproduce
Steps to reproduce the behavior:
1. Go to 'https://github.com/anitab-org/stem-diverse-tv/blob/master/docs/contributing_guidelines.md'
2. Scroll down to

[2021-03-18 01:54] P-riyanka-prasad commented on #128
can u please assign this to me ?

[2021-03-18 01:55] P-riyanka-prasad commented on #128
I'd like to work on this if it is available. : )

[2021-03-18 04:07] Amulya-coder commented on #128
@P-riyanka-prasad sorry you have to wait until 1st April for assigned to this issue, now as it is a part of the Open Source Hack program. It is getting assigning to the first person who comments first on April for more information about the event please read [here](https://anitab-org.zulipchat.com/#narrow/stream/213491-announcements/topic/Open.20Source.20Hack/near/230741560). We hope you participa

[2021-03-18 04:18] Amulya-coder commented on #68
@Anmollenka can you please give some updates.

[2021-03-18 04:54] jalajcodes commented on #46
@Amulya-coder I think this issue is already resolved via [this PR](https://github.com/anitab-org/stem-diverse-tv/pull/89/). Can you check and close it if its resolved?

[2021-03-18 04:55] Anmollenka commented on #68
@Amulya-coder  working on it.Will create a pull request within 2 3 days.

[2021-03-18 05:04] epicadk opened #130 "Docs: Add docs for setting up PostgreSQL"
### Is your feature request related to a problem? Please describe.

In production we use PostgreSQL so we should also contribute on

### Describe the solution you'd like

Add docs for setting up the project with PostgreSQL locally.

### Additional context
Add any other context or screenshots about the feature request here.
You can take help from the BIT backend docs where the instructions are clea

[2021-03-18 05:53] Amulya-coder commented on #46
Yes @jalajcodes this issue is resolved by #89 I saw now Thanks for informing :) I will close this.

[2021-03-18 05:53] #46 closed

[2021-03-18 06:35] Amulya-coder commented on #94
@jalajcodes I will close this issue as it has been resolved by #119

[2021-03-18 06:37] #94 closed

[2021-03-18 10:47] HeroicHitesh commented on #94
@Amulya-coder Removing `Open Source Hack` Label as OSH will start on and/or after 1st April

[2021-03-18 16:40] Rahulm2310 commented on #113
@jhalak27 Can you please share your progress on this ? If you need any help then please ask. 🙂

[2021-03-18 16:43] Rahulm2310 commented on #106
@Amulya-coder FYI @HeroicHitesh is one of us (OSH mentor). 😄

[2021-03-18 17:06] Amulya-coder commented on #106
Yes @Rahulm2310 I get to know about that after this issue  as I saw him labeling to other issues 😅

[2021-03-18 18:06] Rahulm2310 opened #131 "clean: Remove redundant contributing.md file"
### Describe the bug
Contributing Guidelines are present at two locations in the repo.
1. https://github.com/anitab-org/stem-diverse-tv/blob/master/docs/contributing_guidelines.md
2. https://github.com/anitab-org/stem-diverse-tv/blob/master/.github/CONTRIBUTING.md
These files are redundant and thus one should be removed.

### To Reproduce
Steps to reproduce the behavior:
1. Go [here](https://githu

[2021-03-20 18:58] Rahulm2310 opened #133 "Add method in the api/dao/author_dao.py to get all authors from the DB"
### Is your feature request related to a problem? Please describe.
Currently, we are directly accessing the AuthorModel inside the author controller for querying all authors.
Ideally, the DAO pattern defines the AuthorDAO class with methods for interacting with the user model in the database.

### Describe the solution you'd like
Add a method in the api/dao/author_dao.py to get all authors from th

[2021-03-20 19:04] Rahulm2310 opened #134 "Add method in the api/dao/category_dao.py to get all categories from the DB"
### Is your feature request related to a problem? Please describe.
Currently, we are directly accessing the `CategoryModel` inside the author controller for querying all categories
Ideally, the DAO pattern defines the `CategoryDAO` class with methods for interacting with the user model in the database.

### Describe the solution you'd like
Add a method in the `api/dao/category_dao.py` to get all c

[2021-03-20 19:16] NenadPantelic opened #135 "Bug: Adding YT video doesn't work"
### Describe the bug
 Adding of YT video doesn't work. Tested on the deployed version. Probably made by migration to production DB Postgres - duration is an integer now.

### To Reproduce
Steps to reproduce the behavior:
1. Go to `/videos/youtube`
2. Add YT url
3. Send the request
4. See error

### Expected behavior
This endpoint should return 201 with YT video payload.
### Screenshots
![image](ht

[2021-03-20 19:17] NenadPantelic commented on #135
@annabauza I'm not sure should we label this `Open Source Hack`. It can be a blocker for other things.

[2021-03-20 19:23] annabauza commented on #135
Approved yes good osh issue

[2021-03-22 06:47] epicadk opened #137 "QA : Test for sql injections"
### Describe the solution you'd like

Manually test the login and signup endpoint for sql injections. Create a doc showing the test cases ,expected results and actual results.

### Additional context

As a bonus you can also write tests cases in the tests folder.

[2021-03-23 08:40] Aaishpra opened #138 "Docs: Add badges to readme"
## Is your feature request related to a problem? Please describe.

Add Badges to readme.md.
## Describe the solution you'd like
Add these badges to readme
![image](https://user-images.githubusercontent.com/66299533/112117456-6860aa00-8be1-11eb-8efa-c88b62ac6068.png)

## Additional context
None

[2021-03-23 08:51] Aaishpra opened #139 "Docs: Correct the link brackets and captilaise the first letter in readme"
### Describe the bug
1. Correct the link brackets in the stream word of contact section.

![image](https://user-images.githubusercontent.com/66299533/112118932-e07b9f80-8be2-11eb-8fe4-d178a19be51b.png)

2. Capitalise the first letters in the Database setup Instruction

![image](https://user-images.githubusercontent.com/66299533/112118954-e8d3da80-8be2-11eb-9c99-6e5def475f03.png)

### To Reproduce

[2021-03-23 08:57] Aaishpra opened #140 "Docs: Comment out unnecessary description part in PR templates"
### Describe the bug
Unnecessary description part in PR templates, have to delete it every time while making a PR

### Expected behavior
Comment out unnecessary description part in PR templates.

### Additional context
Add any other context about the problem here.

[2021-03-23 14:29] Amulya-coder opened #141 "docs: Add a section in the documentation displaying versions of the frameworks and extension use."
### Is your feature request related to a problem? Please describe.
In the readme add a section that shows the framework versions and extensions used in the project.

### Describe the solution you'd like
Add the current versions and extensions used in the stem-diverse-tv.

### Additional context
This issue starts assigning from 1st April

[2021-03-23 20:48] Rahulm2310 opened #142 "Docs: youtube api enabling steps list in readme.md is incorrectly rendered"
### Describe the bug
Youtube API enabling steps list in readme.md is incorrectly rendered.

### To Reproduce
Steps to reproduce the behavior:
1. Go to https://github.com/anitab-org/stem-diverse-tv#youtube-data-api-enabling
2. See error

### Expected behavior
The list should be correctly rendered. (Ideally, the last 2 points should be a sub-list under the 3rd point).

### Screenshots
![image](https

[2021-03-24 17:20] Rahulm2310 opened #143 "Docs: redundant project name heading in readme.md"
### Describe the bug
Project name heading is present twice which looks redundant.

### To Reproduce
Steps to reproduce the behavior:
1. Go to https://github.com/anitab-org/stem-diverse-tv#stem-diverse-tv
2. See error

### Expected behavior
One of the two headings should be removed.

### Screenshots
![image](https://user-images.githubusercontent.com/54268438/112354727-faa4a300-8cf2-11eb-8921-8433e7

[2021-03-25 13:06] devkapilbansal opened #144 "Add tests to follow PEP8 guidelines"
### Is your feature request related to a problem? Please describe.
PEP stands for Python Enhancement Proposal. It is a style document that documents some best practices

### Describe the solution you'd like
Code written in Python should follow standard practices and PEP8 guidelines. For this a linter that follows these guidelines or some sort of checks can be implemented

### Describe alternatives

[2021-03-25 13:06] devkapilbansal commented on #144
Similar to https://github.com/anitab-org/bridge-in-tech-backend/issues/226

[2021-03-25 20:23] NenadPantelic opened #145 "Improvement: Change login response to follow snake case (underscore) notation"
### Is your feature request related to a problem? Please describe.
Response from the login endpoint is written in camel-case. That response is directly returned as a response from Firebase. It's not an error, but due to code consistency's sake, it would be good to change it to snake case (replace camel-case with underscore style).

### Describe the solution you'd like
Change the name of the fields

[2021-03-26 09:55] codesankalp opened #146 "Improvement: Refactor code to use dict.get() method"
## Description
As a developer,
I need code to be consistent and error-free.

## Mocks
https://github.com/anitab-org/stem-diverse-tv/blob/031e3eec0146b33d8a565c75eed74f5c3c5fbd4a/app/api/controllers/author.py#L32-L33

For example this can be replaced by the get method i.e. `data.get("KEY", "DEFAULT_VALUE")` to avoid KeyError

## Acceptance Criteria
### Update [Required]
- [ ] Use get method in all

[2021-03-26 16:57] Rahulm2310 opened #147 "Docs: Remove table of contents from the readme.md"
### Describe the bug
As now with the GitHub UI, we have a dropdown list for table of contents, we don't need a manual table of contents anymore.

### Expected behavior
Remove the manually added table of contents from the readme.md

### Screenshots
![stem-readme1](https://user-images.githubusercontent.com/54268438/112666615-60736500-8e82-11eb-8632-f0628ef59857.JPG)
![stem-readme2](https://user-imag

[2021-03-26 17:28] Rahulm2310 commented on #128
@Amulya-coder I think this will be fixed with #106.

[2021-03-26 17:32] Rahulm2310 commented on #113
Unassigning @jhalak27 due to inactivity. Making it available for OSH aspirants.

[2021-03-26 17:36] Rahulm2310 commented on #68
Unassigning @Anmollenka due to inactivity. Making it available for OSH aspirants.

[2021-03-27 08:48] gaurivn opened #148 "content: blog about OSH"
## Description
Write a blog about OSH contributions and STEM Diverse TV

## Acceptance Criteria
### Update [Required]
- [ ] [LIST ITEMS]
### Enhancement to Update [Optional]
- [ ] [LIST ITEMS]

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
4 - 5 hours

Note: This issue will be available for all OSH participants.

[2021-03-27 08:53] Rahulm2310 commented on #148
@gaurivn should I create a doc/spreadsheet for contributors to add their name and link to their blog

[2021-03-27 09:57] gaurivn commented on #148
That would be great, should we make the issue available yet?

[2021-03-27 11:40] #109 closed

[2021-03-27 11:41] #125 closed

[2021-03-27 11:54] Rahulm2310 commented on #148
@gaurivn  Here's the spreadsheet [link](https://docs.google.com/spreadsheets/d/1OIXDq1xyaM_RfAVG5JZdfReatlW5htMGPBGESsqwLMU/edit?usp=sharing). Please add it to the issue description.

As all other OSH issues are labelled `Available` so did that but that doesn't mean it is available now. It will be available for claiming only after OSH begins.

[2021-03-27 12:24] gaurivn commented on #148
Thank you, okay :+1:

[2021-03-27 15:40] Amulya-coder opened #149 "Bug: Add Inline link to project's stream"
### Describe the bug
Project's Stream does not have an inline link.

### To Reproduce
Steps to reproduce the behavior:
1. Go to 'https://github.com/anitab-org/stem-diverse-tv
2. Scroll down to 'Contact section'
3. See an error

### Expected behavior
Link to project's stream should be inline.

### Screenshots
![image](https://user-images.githubusercontent.com/66437295/112725905-8c552000-8f40-11eb-8

[2021-03-27 20:09] Rahulm2310 commented on #149
@Amulya-coder I think there is already an open issue for this (#139).

[2021-03-28 04:37] #149 closed

[2021-03-28 05:00] Amulya-coder opened #150 "Bug: Update Clone Instructions"
### Describe the bug
There it's written get into anitab-org.github.io

![image](https://user-images.githubusercontent.com/66437295/112742881-3324d500-8fb0-11eb-971c-7ac5f6fbe08c.png)

### To Reproduce
Steps to reproduce the behavior:
1. Go to 'https://github.com/anitab-org/stem-diverse-tv'
2. Scroll down to 'Clone section'
4. See error

### Expected behavior
Correct to `stem-diverse-tv`

### Deskt

[2021-03-28 08:15] Aayush-hub commented on #147
@Rahulm2310 Can I work on it?

[2021-03-28 08:37] Rahulm2310 commented on #147
@Aayush-hub Thanks for showing interest. As this is labelled `Open-Source-Hack` (our month long event commencing on 1st April), this will be assigned on/after 1st April. Till then you can setup the project locally and wait for the event to begin. 😊

[2021-03-28 08:41] Rahulm2310 commented on #141
@Amulya-coder We already have the Tech-stack information in the github wiki. So it will be redundant to add it in the readme.
![image](https://user-images.githubusercontent.com/54268438/112746846-590da200-8fcf-11eb-907f-81c451ad3ff2.png)

[2021-03-28 10:49] Amulya-coder commented on #141
@Rahulm2310 Not everyone goes to the wiki page and read about it, but on Readme it is frequently noticed by the every contributor and reader that will help to learn more about the project at a one glance. It's come under the "best practices" to keep all the relevant information about the project in readme documentation. You can also check [here](https://github.com/anitab-org/mentorship-backend#doc

[2021-03-28 10:57] devkapilbansal opened #151 "Test and Report POST /videos endpoint"
## Description
As a tester,
I need to test POST /videos endpoint,
so that we can report it.

You should create a markdown file inside `/docs/manual_tests` with following content:
* Test step by step with dummy data
* Report it as
[code]

## Acceptance Criteria
### Update [Required]
- [ ] Tested POST /videos API
- [ ] Create a markdown file with content mentioned
- [ ] Provide atleast two test case

[2021-03-28 10:59] devkapilbansal opened #152 "Test and Report POST /users/register endpoint"
## Description
As a tester,
I need to test /register endpoint,
so that we can ensure User Creation works perfectly.

You should create a markdown file inside `/docs/manual_tests` with following content:
* Test step by step with dummy data
* Report it as
[code]

## Acceptance Criteria
### Update [Required]
- [ ] Tested POST /users/register API
- [ ] Create a markdown file with content mentioned
- [

[2021-03-28 11:00] devkapilbansal opened #153 "Test and Report POST /users/login API"
## Description
As a tester,
I need to test /users/login endpoint,
so that we can ensure user is able to login correctly.

You should create a markdown file inside `/docs/manual_tests` with following content:
* Test step by step with dummy data
* Report it as
[code]

## Acceptance Criteria
### Update [Required]
- [ ] Tested POST /users/login API
- [ ] Create a markdown file with content mentioned
-

[2021-03-28 17:11] codesankalp opened #154 "Write tests for categories endpoint"
## Description
As a contributor and developer,
I need to test some features
so that whenever a new code is written the previous tests do not fail.

## Acceptance Criteria
### Update [Required]
- [ ] Create a new directory named as tests.
- [ ] Write test for  categories endpoint.
- [ ] Write relevant mocks for external API if needed.

## Definition of Done
- [ ] All of the required items are compl

[2021-03-28 23:25] isabelcosta commented on #146
Nice issue @codesankalp ! I did not think of that, it can be a good issue for mentorship-backend & bridge-in-tech-backend 😅

[2021-03-29 12:56] codesankalp commented on #146
Thanks for informing me @isabelcosta. I will create this issue there also.

[2021-03-29 15:54] codesankalp opened #155 "Write tests for `/users/login` endpoint"
### Description
As a contributor and developer,
I need to test some features
so that whenever a new code is written the previous tests do not fail.

### Describe the solution you'd like
- [ ] Create a new directory named as tests.
- [ ] Write a test for `/users/login` endpoint.
- [ ] Write relevant mocks for external API if needed.

### Definition of Done
- [ ] All of the required items are comple

[2021-03-29 15:56] codesankalp opened #156 "Write tests for /users/register endpoint"
## Description
As a contributor and developer,
I need to test some features
so that whenever a new code is written the previous tests do not fail.

## Acceptance Criteria
### Update [Required]
- [ ] Create a new directory named as tests.
- [ ] Write test for `/users/register` endpoint.
- [ ] Write relevant mocks for external API if needed.

## Definition of Done
- [ ] All of the required items are

[2021-03-29 19:42] gaurivn opened #157 "task: set up local environment"
## Description
As a contributor,
I need to set up local environment for stem-diverse-tv and send screenshots,
so that I can provide proof of the same.

## Mocks
[INSERT RELEVANT PNG FILE]

## Acceptance Criteria
### Update [Required]
- [ ] Set up local environment
- [ ] Provide screenshots

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimat

[2021-03-30 03:41] epicadk opened #158 "task : setup local dev environment using docker."
### Is your feature request related to a problem? Please describe.

Setup local environment using the docker-compose file.

### Describe the solution you'd like

Provide screenshots and document the steps required.

[2021-03-30 06:44] Amulya-coder opened #159 "docs: Create branch section in readme"
### Is your feature request related to a problem? Please describe.

As every repository will have the branches section in readme which will help the new contributors to simply identify b/w the development and production branches while contributing to the repository.

### Describe the solution you'd like

Create the branch section and mention about the branches of the repository.

### Additional co

[2021-03-30 16:00] codesankalp opened #161 "Write tests for `/authors/` endpoint"
## Description
As a contributor and developer,
I need to test some features
so that whenever a new code is written the previous tests do not fail.

## Acceptance Criteria
- [ ] Create a new directory named as tests.
- [ ] Write tests for `/authors/` endpoint.
- [ ] Write relevant mocks for external API if needed.

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval

[2021-03-30 16:01] codesankalp opened #162 "Write tests for `/videos/` endpoint"
## Description
As a contributor and developer,
I need to test some features
so that whenever a new code is written the previous tests do not fail.

## Acceptance Criteria
### Update [Required]
- [ ] Create a new directory named as tests.
- [ ] Write test for `/videos/` endpoint.
- [ ] Write relevant mocks for external API if needed.

## Definition of Done
- [ ] All of the required items are comple

[2021-03-30 16:03] codesankalp opened #163 "Write tests for `/sections/` endpoint"
## Description
As a contributor and developer,
I need to test some features
so that whenever a new code is written the previous tests do not fail.

## Acceptance Criteria
### Update [Required]
- [ ] Create a new directory named as tests.
- [ ] Write test for `/sections/` endpoint.
- [ ] Write relevant mocks for external API if needed.

## Definition of Done
- [ ] All of the required items are comp

[2021-03-30 16:04] codesankalp opened #164 "Write tests for `/feed/` endpoint"
## Description
As a contributor and developer,
I need to test some features
so that whenever a new code is written the previous tests do not fail.

## Acceptance Criteria
### Update [Required]
- [ ] Create a new directory named as tests.
- [ ] Write test for `/feed/` endpoint.
- [ ] Write relevant mocks for external API if needed.

## Definition of Done
- [ ] All of the required items are complete

[2021-03-31 08:19] NenadPantelic opened #165 "Docs: Write API docstrings for all controller methods"
### Is your feature request related to a problem? Please describe.
We should define API docstrings as code documentation and Swagger description.
### Describe the solution you'd like
Add explanations in endpoint methods that will be displayed on Swagger and will be useful for developers.
### Describe alternatives you've considered
N/A
### Additional context
N/A

[2021-03-31 18:34] P-riyanka-prasad commented on #128
I'd like to work on this if it is available. : )

[2021-03-31 18:39] Amulya-coder commented on #128
Yours @P-riyanka-prasad

[2021-04-01 08:39] Amulya-coder commented on #128
Reassign you @P-riyanka-prasad :)

[2021-04-01 09:02] P-riyanka-prasad commented on #128
Thanks a lot

[2021-04-01 10:06] NenadPantelic commented on #147
@Aayush-hub If you're still interested, please comment out again, so someone can assign you.

[2021-04-01 10:07] NenadPantelic commented on #153
@SabhyaGrover, go ahead

[2021-04-01 10:19] Aayush-hub commented on #147
@NenadPantelic @Rahulm2310 Yes I am interested.  Can this be assigned to me?

[2021-04-01 10:20] Rahulm2310 commented on #147
Sure. @Aayush-hub Happy documenting 😊

[2021-04-02 08:20] HarshKumarChoudary commented on #150
But we can also change the statement to get into the cloned directory and let the cd command as it is.

[2021-04-02 08:38] Amulya-coder commented on #150
Yes @HarshKumarChoudary this issue is all about correcting that bug would you like to work on this.

[2021-04-02 08:51] #147 closed

[2021-04-02 09:39] HarshKumarChoudary commented on #150
Yes

[2021-04-02 09:41] Amulya-coder commented on #150
Assign to you @HarshKumarChoudary

[2021-04-02 10:27] HarshKumarChoudary commented on #150
I want to know whether we can make PR through readme-setup branch

[2021-04-02 11:00] Amulya-coder commented on #150
@HarshKumarChoudary never creates a pr from the base branch (master) always create a new branch specific to the issue which you are working on, make the changes to that branch only and then sends a pr.

[2021-04-03 06:14] nandini45 opened #170 "Design- Play/pause icons for our application"
As a designer, I need play/pause icons, so that I can use them for the applications .

## Mocks
![image](https://user-images.githubusercontent.com/62046625/113470247-be4f1080-9471-11eb-8508-8c39b7c99431.png)

## Acceptance Criteria
-please refrain from using other user designs (no plagiarism)
-use our branding guidelines

## Definition of Done
- [ ] All of the required items are completed.
- [ ] A

[2021-04-03 06:19] nandini45 opened #171 "design- fast forward/right arrow icon for stem"
As a designer, I need a fast forward/right arrow icon, so that I can use them for the applications .

## Mocks
![image](https://user-images.githubusercontent.com/62046625/113470333-78467c80-9472-11eb-91ee-d270f5ac7f8b.png)
![image](https://user-images.githubusercontent.com/62046625/113470427-281bea00-9473-11eb-91cf-19b63e09c183.png)

## Acceptance Criteria
-please refrain from using other user des

[2021-04-03 06:24] nandini45 opened #172 "Design-right arrow icon for stem diverse"
As a designer, I need a icon, so that right arrow icon, I can use them for the applications .

## Mocks
![image](https://user-images.githubusercontent.com/62046625/113470427-281bea00-9473-11eb-91cf-19b63e09c183.png)

## Acceptance Criteria
-please refrain from using other user designs (no plagiarism)
-use our branding guidelines

## Definition of Done
- [ ] All of the required items are completed.

[2021-04-03 06:27] nandini45 opened #173 "Design-hamburger icon for stem diverse app"
As a designer, I need a fast forward icon, so that I can use them for the applications .

## Mocks
![image](https://user-images.githubusercontent.com/62046625/113470470-91036200-9473-11eb-9802-fa23eab7b9d0.png)

## Acceptance Criteria
-please refrain from using other user designs (no plagiarism)
-use our branding guidelines

## Definition of Done
- [ ] All of the required items are completed.
- [

[2021-04-03 06:57] nandini45 opened #174 "Design- creation of overlay image for stem diverse"
As a designer, I need a overlay icon, so that I can use them for the application.

## Mocks
![image](https://user-images.githubusercontent.com/62046625/113471124-e3df1880-9477-11eb-9b34-c603e784a96f.png)

## Acceptance Criteria
-please refrain from using other user designs (no plagiarism)
-use our branding guidelines

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Appro

[2021-04-03 09:11] NenadPantelic commented on #173
@nandini45  why are these UI/design issues opened under the backend repository? It makes more sense to add those to the stem-diverse-tv-cms project. Related to: #170, #171, #172, #174. cc @annabauza @vatsalkul @jalajcodes @Rahulm2310 @codesankalp

[2021-04-03 09:44] Rahulm2310 commented on #173
Agree with @NenadPantelic. These issue should be on stem-diverse-tv-cms repo.

[2021-04-03 11:58] nandini45 commented on #173
Ok.

On Sat, 3 Apr 2021, 3:14 p.m. Rahul Mohata, ***@***.***>
wrote:

[2021-04-03 15:02] nandini45 commented on #173
@Rahulm2310  what description are you referring to?

[2021-04-03 15:03] #172 closed

[2021-04-03 15:27] annabauza commented on #173
@Rahulm2310 @NenadPantelic , this is correct. We create OSH for design issues here for client apps - CMS is not a client app. @nandini45  I think just burger menu might be too small task, lets combine it with mobile one screen view - landing screen for instance.

[2021-04-03 15:38] nandini45 commented on #173
@annabauza  yeah

[2021-04-03 15:41] annabauza commented on #174
@nandini overlay is not an icon, it's a partially transparent image which you can use to show information like title, video length, description, etc. This image makes letters and icons always visible regardless the colour on the video. Eg. Black letter on black video in this corner would make things invisible.

See example on example below there is a little tinted top and bottom. This is a overlay

[2021-04-03 15:42] nandini45 commented on #173
Anna like what i did is i combined 2 icons in one so that it may not look a very minor issue. i combined play pause icons
and right arrow /fast forward icons and hamburger/overlay icons.
what do you say?
should i do it this way or with one mobile screen view

[2021-04-03 15:45] annabauza commented on #173
@nandini45 each task is placed in single row, so one task should contains everything what we listed in that row, btw play and pause are separate icons.

[2021-04-03 15:46] annabauza commented on #173
in the STEM diverse doc from today meeting.

[2021-04-03 15:47] nandini45 commented on #173
yes yes
ok @annabauza  i will do it

[2021-04-03 16:07] annabauza commented on #173
Thank you @nandini45

[2021-04-03 19:01] nandini45 opened #175 "design-launch background image assets creation for stem diverse app(IOS version-app icon)"
As a designer, I need to create launch background image for my iphone, so that I can use it.

## Mocks
this is our mock of size 2200*2200 px for the background of ipad version of app
![image](https://user-images.githubusercontent.com/62046625/113488639-f2135000-94dc-11eb-90c9-5592dc891f9f.png)

## Acceptance Criteria
-please refrain from using other user designs (no plagiarism)
Size-
1.universal r

[2021-04-03 19:07] nandini45 opened #176 "design-launch background image logo assets creation for stem diverse app(IOS version-app icon)"
As a designer, I need to create launch background image of all dimensions for my ipad, so that I can use it.

## Acceptance Criteria
-please refrain from using other user designs (no plagiarism)
Size-
1.universal retina-80 * 80
2.universal retina X3-58 * 58
3.Ipad - 167 * 167
4.Ipad retina-152 * 152
5.Iphone retina- 114 * 114
6.Iphone-57 * 57
-editing image
![zyx](https://user-images.githubusercon

[2021-04-03 19:10] nandini45 opened #177 "design-assets creation for stem diverse app(IOS version)"
As a designer, I need to create two launch video image for my iphone, so that I can use it.

## Mocks
this is our mock of size 2200*2200 px for the background of ipad version of app
![image](https://user-images.githubusercontent.com/62046625/113488639-f2135000-94dc-11eb-90c9-5592dc891f9f.png)

## Acceptance Criteria
-please refrain from using other user designs (no plagiarism)
Size-**1284*2778 px*

[2021-04-03 19:12] nandini45 opened #178 "design-assets creation for stem diverse app(IOS version)"
As a designer, I need to create two launch video image for my ipad, so that I can use it.

## Mocks
this is our mock of size 2200*2200 px for the background of ipad version of app
![image](https://user-images.githubusercontent.com/62046625/113488639-f2135000-94dc-11eb-90c9-5592dc891f9f.png)

## Acceptance Criteria
-please refrain from using other user designs (no plagiarism)
Size-**2200*2200 px**

[2021-04-04 03:47] HarshKumarChoudary commented on #170
Estimation 1-2 hr means we have to finish this task within 1-2 hr?
Also do we have to make design using css?

[2021-04-04 09:52] nandini45 commented on #170
@HarshKumarChoudary  estimation simply means the task can be completed according to us in 1 to 2 hour but if the person working on it take more time or anything it is totally upto them.

design with css or use any other design apps like figma , adobe xd its up to you what you are comfortable in

[2021-04-04 10:36] HarshKumarChoudary commented on #170
Please assign these task to me

[2021-04-04 10:38] nandini45 commented on #170
here . if you have any  issue feel free to ping me.
@HarshKumarChoudary

[2021-04-04 11:12] nandini45 opened #179 "design-launch video assets creation for stem diverse app(Android version)"
As a designer, I need to create an app icon and  a notification icon for a XXXhdpi dimensions, so that I can use it.

## Acceptance Criteria
-Size-**192*192**
-image for app icon
![image](https://user-images.githubusercontent.com/62046625/113506723-3138b400-9564-11eb-9241-5a514b89aced.png)
-image for notification icon
![image](https://user-images.githubusercontent.com/62046625/113506740-41e92a00-9

[2021-04-04 14:35] HarshKumarChoudary commented on #170
I had made the buttons using css code. Please tell me how to submit this code either by merging the code to any branch or attach the file in description of PR.

[2021-04-04 16:08] nandini45 commented on #170
@HarshKumarChoudary  i think creating a file in description of PR will be good. thank you
and please attach the resultant image like what icons have you made

[2021-04-04 17:39] nandini45 opened #180 "design-launch background image assets creation for stem diverse app(IOS version-splash screen)"
As a designer, I need to create background images of different dimensions, so that I can use it for my ipad.

## Mocks
this is our mock of size 2200*2200 px for the background of ipad version of app
![image](https://user-images.githubusercontent.com/62046625/113488639-f2135000-94dc-11eb-90c9-5592dc891f9f.png)

## Acceptance Criteria
Size-
1.Ipad - 1024 * 768
2.Ipad retina-2048*1536
3.Iphone retina

[2021-04-04 17:43] nandini45 opened #181 "design-icon assets creation for stem diverse app(IOS version-splash screen)"
As a designer, I need to create icon images of different dimensions, so that I can use it for my ipad.

## Mocks
this is our mock of size 2200*2200 px for the background of ipad version of app
![image](https://user-images.githubusercontent.com/62046625/113488639-f2135000-94dc-11eb-90c9-5592dc891f9f.png)

## Acceptance Criteria
Size-
1.Ipad - 1024 * 768
2.Ipad retina-2048*1536
3.Iphone retina- 768

[2021-04-05 05:54] Vivek-Hotti commented on #181
Hey @nandini45 . I have completed the above tasks, but am not able to figure out in which folder to place the new images in my forked repository so that I can open a PR. Could you please help?

[2021-04-05 06:43] epicadk commented on #181
Comment before you attempt to solve the issue and wait till someone assigns you. It has been mentioned in the contributing guidelines.

[2021-04-05 07:08] Vivek-Hotti commented on #181
I apologize, will not happen next time.

[2021-04-05 10:42] #174 closed

[2021-04-05 11:22] #181 closed

[2021-04-05 11:22] #180 closed

[2021-04-05 11:22] #179 closed

[2021-04-05 11:33] Vivek-Hotti commented on #159
Hey @Amulya-coder I would like to work on this. Please assign this issue to me.

[2021-04-05 11:53] #176 closed

[2021-04-05 11:53] #175 closed

[2021-04-05 13:04] Amulya-coder commented on #159
Yours @Vivek-Hotti :)

[2021-04-05 13:50] nandini45 commented on #181
@Vivek-Hotti   the issue was closed due to some error in the description
#178 is the same issue if you want to work on it
i can assign you that .
sorry for the inconvience

[2021-04-05 14:08] annabauza commented on #170
@HarshKumarChoudary this is pure design task no coding no css.

[2021-04-05 14:10] #171 closed

[2021-04-05 14:38] annabauza opened #183 "template for adding content"
### Description:
As a swagger ui user I want to add video to STEM diverse TV database.
- Video URL:
- Category:
- Section:

**To add video to STEM diverse TV follow the steps:**
1. Login to [swaggerUI](https://stem-diverse-tv.herokuapp.com/) (register if not having account)

| ![Screenshot 2021-04-05 at 15 26 42](https://user-images.githubusercontent.com/31966073/113585036-94d5e680-9623-11eb-95b3-

[2021-04-05 15:38] Vivek-Hotti commented on #181
no problem.

[2021-04-05 15:41] Vivek-Hotti commented on #178
Hey @nandini45 , I would like to work on this issue. Please assign me on this one.

Also, I am not able to figure out in which folder should I place the newly resized images in my forked repository so that I can open a PR. Could you please help?

[2021-04-05 19:45] annabauza commented on #113
Can you assign me please @isabelcosta ?

[2021-04-05 19:45] isabelcosta commented on #113
Yes of course @annabauza :)

[2021-04-05 20:28] gaurivn opened #184 "content:"
## Description
As a swagger ui user I want to add video to STEM Diverse TV database
* Video URL: https://www.youtube.com/watch?v=K4Sy3NegUrE
* Category:
* Section:

**To add video to STEM Diverse TV, follow the steps: **
1. Login to [swaggerUI](https://stem-diverse-tv.herokuapp.com/) (register if not having account)
![sdcontent1](https://user-images.githubusercontent.com/48416306/113622160-3556f58

[2021-04-06 15:00] annabauza commented on #178
You can create client_assets folder then respectively ios and android folder inside. Thanks.

[2021-04-06 16:01] Amulya-coder commented on #178
@Vivek-Hotti You have been already assigned to #159. Please claim it after you send a successful PR for the former. You can work on atm one issue per repository.

[2021-04-06 16:26] nandini45 commented on #178
agreed @Amulya-coder
@Vivek-Hotti  please look into it. and i will unassign you from here.
or create that PR 1st
then i will  assign you this

[2021-04-06 16:27] nandini45 commented on #184
@annabauza  can you approve of this issue?
if yes then please make it available

[2021-04-06 16:28] nandini45 commented on #170
@HarshKumarChoudary  please look into the work once again and update the PR

[2021-04-06 16:28] annabauza commented on #184
@nandini45 you missing category and section

[2021-04-06 16:28] annabauza commented on #184
Cc @gaurivn

[2021-04-06 16:37] Vivek-Hotti commented on #159
Hey @Amulya-coder , I'm unassigning myself. I will create a PR for issue #178 and then will ask you to assign this to me. I was unaware of the fact that we couldn't work on 2 issues at the same time.

[2021-04-06 16:39] Vivek-Hotti commented on #178
Hey @nandini45 , no need to unassign me from this issue. I have unassigned myself from issue #159 .
So will be only working on one issue (.i.e this issue) at a time.

Apologies ; was unaware of the fact that we couldn't work on 2 issues at the same time.

[2021-04-06 17:26] Amulya-coder commented on #128
@P-riyanka-prasad Please give the updates of your work.

[2021-04-06 17:31] P-riyanka-prasad commented on #128
Just now made a pull request @Amulya-coder

[2021-04-07 06:19] Vivek-Hotti commented on #178
Hey @nandini45 and @annabauza, please check my PR #186. Have completed all 11 tasks.
Open to changes/suggestions if any.

[2021-04-07 06:27] Vivek-Hotti commented on #142
Hey @Rahulm2310 , I would like to work on this issue.
Could you please assign this to me?

[2021-04-07 06:59] Rahulm2310 commented on #142
@Vivek-Hotti This issue is for first timers. You are already assigned to #178.

[2021-04-08 06:15] Vivek-Hotti commented on #142
But I have created a PR for that issue. Doesn't that mean now I can be assigned to new issues?

[2021-04-08 18:56] epicadk commented on #178
@nandini45 suggestion use the markdown `<img>` and limit the size so that images are visible across all screen sizes.

[2021-04-09 02:15] nandini45 commented on #178
Ah ok. I will edit the changes

On Fri, 9 Apr 2021, 12:26 a.m. Aditya Kurkure, ***@***.***>
wrote:

[2021-04-09 22:24] isabelcosta opened #188 "Setup all-contributors bot"
## Description

As a maintainer,
I need to configure [all-contributors](https://allcontributors.org/) bot,
so that I can better recognize contributors and leaders of this project.

- https://allcontributors.org/docs/en/bot/configuration

## Acceptance Criteria
### Update [Required]
- [x] Add configuration to project https://allcontributors.org/docs/en/bot/configuration
- [x] Add first contributors

[2021-04-09 23:01] isabelcosta opened #190 "Create test cases documentation table for `POST /videos`"
## Description

As a developer or tester,
I need to know some test cases examples,
so that I can have an idea of how I can test the app.

Creating test cases will help everyone understand how to use the API.

References:
- [Quality Assurance test cases](https://github.com/anitab-org/mentorship-backend/blob/cf6df094e4fef735e135674e4d5697ded5060d7d/docs/quality-assurance-test-cases.md) for mentorshi

[2021-04-09 23:10] isabelcosta opened #191 "Create test cases docs table for `POST /videos/youtube`"
## Description

As a developer or tester,
I need to know some test cases examples,
so that I can have an idea of how I can test the app.

Creating test cases will help everyone understand how to use the API.

References:
- [Quality Assurance test cases](https://github.com/anitab-org/mentorship-backend/blob/cf6df094e4fef735e135674e4d5697ded5060d7d/docs/quality-assurance-test-cases.md) for mentorshi

[2021-04-09 23:11] isabelcosta opened #192 "Create test cases docs table for `GET /videos/latest`"
## Description

As a developer or tester,
I need to know some test cases examples,
so that I can have an idea of how I can test the app.

Creating test cases will help everyone understand how to use the API.

References:
- [Quality Assurance test cases](https://github.com/anitab-org/mentorship-backend/blob/cf6df094e4fef735e135674e4d5697ded5060d7d/docs/quality-assurance-test-cases.md) for mentorshi

[2021-04-09 23:13] isabelcosta opened #193 "Create test cases docs table for `PATCH /categories/{id}`"
## Description

As a developer or tester,
I need to know some test cases examples,
so that I can have an idea of how I can test the app.

Creating test cases will help everyone understand how to use the API.

References:
- [Quality Assurance test cases](https://github.com/anitab-org/mentorship-backend/blob/cf6df094e4fef735e135674e4d5697ded5060d7d/docs/quality-assurance-test-cases.md) for mentorshi

[2021-04-09 23:35] isabelcosta opened #194 "Document 401 Unauthorized HTTP status error on Swagger UI for every API"
## Description

As a frontend developer,
I need to know the available responses from the API,
so that I can properly adjust frontend for the potential responses.

Documentation about the 401 Unauthorize HTTP status is missing from Swagger UI. The idea is for this to be documented, and Swagger UI acknowledge that the 401 documentation exists. This happens at least for `PATCH /sections/{id}`, but I

[2021-04-10 06:11] #188 closed

[2021-04-10 07:07] gaurivn opened #195 "Create test cases docs table for '''GET /authors/{name}'''"
## Description
As a developer or tester,
I need to know some test cases examples,
so that I can have an idea of how I can test the app.

Creating test cases will help everyone understand how to use the API.

References:
- [Quality Assurance test cases](https://github.com/anitab-org/mentorship-backend/blob/cf6df094e4fef735e135674e4d5697ded5060d7d/docs/quality-assurance-test-cases.md) for mentorship

[2021-04-10 07:11] annabauza commented on #195
approved

[2021-04-10 07:15] gaurivn opened #196 "Create test cases docs table for `PATCH /sections/{id}`"
## Description
As a developer or tester,
I need to know some test cases examples,
so that I can have an idea of how I can test the app.

Creating test cases will help everyone understand how to use the API.

References:
- [Quality Assurance test cases](https://github.com/anitab-org/mentorship-backend/blob/cf6df094e4fef735e135674e4d5697ded5060d7d/docs/quality-assurance-test-cases.md) for mentorship

[2021-04-10 07:15] annabauza commented on #196
approved

[2021-04-10 09:12] Amulya-coder opened #197 "Create test cases docs table for `POST /categories/`"
## Description
As a developer or tester,
 I need to know some test cases examples,
 so that I can have an idea of how I can test the app.

Creating test cases will help everyone understand how to use the API.

 References:

 * [Quality Assurance test cases](https://github.com/anitab-org/mentorship-backend/blob/cf6df094e4fef735e135674e4d5697ded5060d7d/docs/quality-assurance-test-cases.md) for mento

[2021-04-10 09:12] Amulya-coder opened #198 "Create test cases docs table for `POST /authors/`"
## Description
As a developer or tester,
 I need to know some test cases examples,
 so that I can have an idea of how I can test the app.

Creating test cases will help everyone understand how to use the API.

 References:

 * [Quality Assurance test cases](https://github.com/anitab-org/mentorship-backend/blob/cf6df094e4fef735e135674e4d5697ded5060d7d/docs/quality-assurance-test-cases.md) for mento

[2021-04-10 09:12] Amulya-coder opened #199 "Create test cases docs table for `POST /videos/{id}/sections`"
## Description
As a developer or tester,
 I need to know some test cases examples,
 so that I can have an idea of how I can test the app.

Creating test cases will help everyone understand how to use the API.

 References:

 * [Quality Assurance test cases](https://github.com/anitab-org/mentorship-backend/blob/cf6df094e4fef735e135674e4d5697ded5060d7d/docs/quality-assurance-test-cases.md) for mento

[2021-04-10 09:12] Amulya-coder opened #200 "Create test cases docs table for `GET /authors/{id}`"
## Description
As a developer or tester,
 I need to know some test cases examples,
 so that I can have an idea of how I can test the app.

Creating test cases will help everyone understand how to use the API.

 References:

 * [Quality Assurance test cases](https://github.com/anitab-org/mentorship-backend/blob/cf6df094e4fef735e135674e4d5697ded5060d7d/docs/quality-assurance-test-cases.md) for mento

[2021-04-10 11:51] jalajcodes opened #201 "Create test cases docs table for `/videos/{id}`"
## Description
As a developer or tester,
I need to know some test cases examples,
so that I can have an idea of how I can test the app.

Creating test cases will help everyone understand how to use the API.

References:

- Quality Assurance test cases for mentorship-backend project
- Check out the API Swagger definition here: https://stem-diverse-tv.herokuapp.com/

### Acceptance Criteria

**Updat

[2021-04-10 11:54] jalajcodes opened #202 "Create test cases docs table for `GET /authors/`"
## Description
As a developer or tester,
I need to know some test cases examples,
so that I can have an idea of how I can test the app.

Creating test cases will help everyone understand how to use the API.

References:

- Quality Assurance test cases for mentorship-backend project
- Check out the API Swagger definition here: https://stem-diverse-tv.herokuapp.com/

### Acceptance Criteria

**Updat

[2021-04-10 11:56] jalajcodes opened #203 "Create test cases docs table for `POST /users/login`"
## Description
As a developer or tester,
I need to know some test cases examples,
so that I can have an idea of how I can test the app.

Creating test cases will help everyone understand how to use the API.

References:

- Quality Assurance test cases for mentorship-backend project
- Check out the API Swagger definition here: https://stem-diverse-tv.herokuapp.com/

### Acceptance Criteria

**Updat

[2021-04-10 11:57] jalajcodes opened #204 "Create test cases docs table for `POST /users/register`"
## Description
As a developer or tester,
I need to know some test cases examples,
so that I can have an idea of how I can test the app.

Creating test cases will help everyone understand how to use the API.

References:

- Quality Assurance test cases for mentorship-backend project
- Check out the API Swagger definition here: https://stem-diverse-tv.herokuapp.com/

### Acceptance Criteria

**Updat

[2021-04-10 11:59] jalajcodes opened #205 "Create test cases docs table for `GET /feed`"
## Description
As a developer or tester,
I need to know some test cases examples,
so that I can have an idea of how I can test the app.

Creating test cases will help everyone understand how to use the API.

References:

- Quality Assurance test cases for mentorship-backend project
- Check out the API Swagger definition here: https://stem-diverse-tv.herokuapp.com/

### Acceptance Criteria

**Updat

[2021-04-10 14:07] #113 closed

[2021-04-10 19:19] Rahulm2310 opened #207 "Create test cases docs table for GET /videos/stream/{videoId}/{format}"
## Description
As a developer or tester,
I need to know some test cases examples,
so that I can have an idea of how I can test the app.

Creating test cases will help everyone understand how to use the API.

References:
- [Quality Assurance test cases](https://github.com/anitab-org/mentorship-backend/blob/cf6df094e4fef735e135674e4d5697ded5060d7d/docs/quality-assurance-test-cases.md) for mentorship

[2021-04-10 19:25] Rahulm2310 opened #208 "Create test cases docs table for `GET /sections`"
## Description
As a developer or tester,
I need to know some test cases examples,
so that I can have an idea of how I can test the app.

Creating test cases will help everyone understand how to use the API.

References:
- [Quality Assurance test cases](https://github.com/anitab-org/mentorship-backend/blob/cf6df094e4fef735e135674e4d5697ded5060d7d/docs/quality-assurance-test-cases.md) for mentorship

[2021-04-10 19:27] Rahulm2310 opened #209 "Create test cases docs table for `POST /sections`"
## Description
As a developer or tester,
I need to know some test cases examples,
so that I can have an idea of how I can test the app.

Creating test cases will help everyone understand how to use the API.

References:
- [Quality Assurance test cases](https://github.com/anitab-org/mentorship-backend/blob/cf6df094e4fef735e135674e4d5697ded5060d7d/docs/quality-assurance-test-cases.md) for mentorship

[2021-04-10 19:29] Rahulm2310 opened #210 "Create test cases docs table for `DELETE /sections/{id}`"
## Description
As a developer or tester,
I need to know some test cases examples,
so that I can have an idea of how I can test the app.

Creating test cases will help everyone understand how to use the API.

References:
- [Quality Assurance test cases](https://github.com/anitab-org/mentorship-backend/blob/cf6df094e4fef735e135674e4d5697ded5060d7d/docs/quality-assurance-test-cases.md) for mentorship

[2021-04-10 19:32] Rahulm2310 opened #211 "Create test cases docs table for `GET /categories/all`"
## Description
As a developer or tester,
I need to know some test cases examples,
so that I can have an idea of how I can test the app.

Creating test cases will help everyone understand how to use the API.

References:
- [Quality Assurance test cases](https://github.com/anitab-org/mentorship-backend/blob/cf6df094e4fef735e135674e4d5697ded5060d7d/docs/quality-assurance-test-cases.md) for mentorship

[2021-04-10 19:34] Rahulm2310 opened #212 "Create test cases docs table for `DELETE /categories/{id}`"
## Description
As a developer or tester,
I need to know some test cases examples,
so that I can have an idea of how I can test the app.

Creating test cases will help everyone understand how to use the API.

References:
- [Quality Assurance test cases](https://github.com/anitab-org/mentorship-backend/blob/cf6df094e4fef735e135674e4d5697ded5060d7d/docs/quality-assurance-test-cases.md) for mentorship

[2021-04-10 19:35] Rahulm2310 opened #213 "Create test cases docs table for `POST /categories/{id}/sections`"
## Description
As a developer or tester,
I need to know some test cases examples,
so that I can have an idea of how I can test the app.

Creating test cases will help everyone understand how to use the API.

References:
- [Quality Assurance test cases](https://github.com/anitab-org/mentorship-backend/blob/cf6df094e4fef735e135674e4d5697ded5060d7d/docs/quality-assurance-test-cases.md) for mentorship

[2021-04-10 19:36] Rahulm2310 opened #214 "Create test cases docs table for `GET /categories/{id}/sections`"
## Description
As a developer or tester,
I need to know some test cases examples,
so that I can have an idea of how I can test the app.

Creating test cases will help everyone understand how to use the API.

References:
- [Quality Assurance test cases](https://github.com/anitab-org/mentorship-backend/blob/cf6df094e4fef735e135674e4d5697ded5060d7d/docs/quality-assurance-test-cases.md) for mentorship

[2021-04-10 21:05] devkapilbansal commented on #170
@annabauza there is already an assignee. Why it is labelled as Available?

[2021-04-11 04:28] HarshKumarChoudary commented on #170
Since my exams are started, so I will not be able to continue further with this task. Sorry for that and Thanks to all for mentoring and guiding me.

[2021-04-11 06:21] Amulya-coder opened #215 "Bug : Incorrect `edit this page` link on docusauras"
### Describe the bug
Edit page link is incorrect on docusauras website

### To Reproduce
Steps to reproduce the behavior:
1. Go to https://anitab-org.github.io/stem-diverse-tv/docs/
2. Click on `edit this page`
3. See error

### Expected behavior
The link should redirect to the correct page of stem-diverse-tv repo. There is a config.js file in which the value of `edit url` should be https://github

[2021-04-11 06:42] Amulya-coder opened #216 "Add Docusauras link to readme"
## Description
 Now as the documentation of stem-diverse-tv is hosted on the docusauras platform so it should be linked to readme so that everyone can easily access it.

Add https://anitab-org.github.io/stem-diverse-tv/ link to readme and please also add the badge in the documentation section.

## Acceptance Criteria
### Update [Required]
Add https://anitab-org.github.io/stem-diverse-tv/ to readme

[2021-04-11 08:37] Amulya-coder opened #217 "Update the project documentation"
## Description
As a reader, I need to see the `tagline` , `social media icons`, and `Copyright` of every project that is hosted on the Docusauras platform.

## Mocks
![image](https://user-images.githubusercontent.com/66437295/114297882-d9a0c800-9ad0-11eb-8d66-395a3ae76032.png)

## Acceptance Criteria
### Update [Required]
- Update the documentation of the project on Docusauras, make sure also remo

[2021-04-11 15:16] Vivek-Hotti commented on #217
Hey @Amulya-coder could you please assign this to me?

[2021-04-11 15:24] anjali1102 commented on #216
Can I take up this issue

[2021-04-11 15:29] isabelcosta commented on #216
Yes @anjali1102 :) Will assign to you!

[2021-04-11 15:33] anshsrtv commented on #215
Can I work on this issue?

[2021-04-11 15:37] Poobalan1210 commented on #143
Hey can i work on this issue

[2021-04-11 15:38] isabelcosta commented on #215
sure :D @anshsrtv ! I will assign this to you

[2021-04-11 15:39] isabelcosta commented on #143
Yes! @Poobalan1210 :) will assign it to you!

[2021-04-11 15:42] Poobalan1210 commented on #177
hey @annabauza can i work on this issue

[2021-04-11 15:48] Poobalan1210 commented on #142
@Vivek-Hotti can i work on this issue

[2021-04-11 15:50] anshsrtv commented on #215
Hi @isabelcosta! 👋  Thanks for assigning me the issue. I had a small query. I feel silly, asking this but I need to 😄

Where should I add the required information?

[2021-04-11 15:56] isabelcosta commented on #215
I promise, there are no such thing as silly questions here 🤗

That is what the person who submits the issue needs to fill in (in this case @Amulya-coder ), all you need to do is to fix the issue described ;)

So if this was a tricky bug, that only happened for a specific version of a browser, then that information could be useful to you, to know how to test if you fixed the bug. In this case, this

[2021-04-11 16:02] isabelcosta commented on #142
@Poobalan1210 I will assign it to you :)
@Vivek-Hotti mentors will soon review your PR, meanwhile, can you look for issues without the first timer only label :), this is just because you already started one of those.

[2021-04-11 16:08] anshsrtv commented on #215
Thanks for those comforting words @isabelcosta 🤗:heart:

[2021-04-11 16:20] annabauza commented on #177
Yours @Poobalan1210

[2021-04-11 16:29] isabelcosta commented on #142
@Poobalan1210 I see that @annabauza assigned https://github.com/anitab-org/stem-diverse-tv/issues/177 to you, so I will leave this to a first timer then

[2021-04-11 16:52] Amulya-coder commented on #217
Hi, @Vivek-Hotti I think you're already assigned to `first-timers-issue` before can you please give others chance to work on this. Thanks 😊

[2021-04-11 17:12] epicadk opened #220 "Feat: Add github actions"
### Is your feature request related to a problem? Please describe.
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

Add Github actions for lint and Build checks

### Describe alternatives you've considered
A clear and concise description of any alternative solutions or features you've considered.

NA

### Additional context
Add any other context or scre

[2021-04-11 17:23] Poobalan1210 commented on #177
Hey @annabauza Should I place the files in the static/images folder

[2021-04-11 17:57] anjali1102 commented on #216
![anitab](https://user-images.githubusercontent.com/56559378/114315594-46da4a80-9b1d-11eb-9794-0f7167e57c4d.png)

Please check is this correct positioning?

[2021-04-11 18:00] isabelcosta commented on #216
@anjali1102 looks good to me :) The badge would have the link to it, and in that paragraph, you could include as well the link to Docusaurus. I think you can submit a PR with that, and then if anything needs to change we'll let you know :)

[2021-04-11 18:06] anjali1102 commented on #216
Ma'am, Docusaurus badge should be static/dynamic?

[2021-04-11 18:17] isabelcosta commented on #216
@anjali1102 what is the difference? I actually don't know. I would expect a static badge, is a dynamic badge, a moving image?

[2021-04-11 18:34] anjali1102 commented on #216
Ok I will PR

[2021-04-12 10:52] anshsrtv commented on #220
I'm working on the issue!

[2021-04-12 12:15] anjali1102 commented on #194
I want to work on this

[2021-04-14 18:19] aparnaabraham commented on #217
hello, @Amulya-coder can take on this assignment?

[2021-04-14 20:35] #216 closed

[2021-04-14 20:36] #215 closed

[2021-04-14 20:37] #143 closed

[2021-04-14 20:40] #150 closed

[2021-04-14 20:43] isabelcosta commented on #194
@anjali1102 do you still want to work on this one? I will assign to you, if you are not interested let me know and I will unassign

[2021-04-15 03:33] Poobalan1210 commented on #177
I am facing some issues in converting the image to notification icon @nandini45 . The image after converting results in just a blank image.

[2021-04-15 04:59] nandini45 commented on #177
Ok give me some time.
I will get back to you in short time

On Thu, 15 Apr 2021, 9:03 a.m. Poobalan, ***@***.***> wrote:

[2021-04-15 10:58] Amulya-coder commented on #217
Yes sure :) @aparnaabraham, Please go ahead!

[2021-04-15 20:09] aparnaabraham commented on #217
Thanks :)

[2021-04-17 13:54] nandini45 commented on #177
@Poobalan1210 i cant understand your issue because its simply resizing the given image.

[2021-04-18 13:58] Poobalan1210 commented on #177
can you suggest me some good websites or software @nandini45

[2021-04-19 08:37] Aryamanz29 commented on #144
I would like to work on this issue, Could you please assign it to me @devkapilbansal

[2021-04-19 08:53] devkapilbansal commented on #144
Hi @Aryamanz29 did you complete the necessary setup task??

[2021-04-19 08:54] devkapilbansal commented on #144
If yes,send some screenshots to the issue itself

[2021-04-20 15:11] devkapilbansal commented on #128
@P-riyanka-prasad there is not any PR linked to this issue

[2021-04-20 15:23] nandini45 commented on #177
https://convert-my-image.com/ImageConverter
try this one
btw apologies for the late reply

[2021-04-21 07:41] Amulya-coder commented on #128
Unassigning @P-riyanka-prasad for not giving any response

[2021-04-21 13:45] aparnaabraham commented on #217
Hey @Amulya-coder,
I can't fully comprehend what needs to be done from the issue description. It would be great if I had a little more clarity on this.
Thanks

[2021-04-21 15:06] Amulya-coder commented on #217
Sure @aparnaabraham, when you visit the docusauras website [here](https://anitab-org.github.io/stem-diverse-tv/) where the documentation of the project is hosted then you can notice that the `tagline` of the project is mentioned by default you have to update that to the project name and then remove the unnecessary icons as see in the <b>ss</b> above because we only need the relevant points that gi

[2021-04-21 17:51] aparnaabraham commented on #217
Thanks a lot for clarifying @Amulya-coder
I have attempted to fix this and have made a pull request. Please go through it and give your feedback.

[2021-04-23 10:38] Krishna841 commented on #214
@Rahulm2310 I wish to work on this issue and solve it... Can you guide me??
A brief explanation of the task that I have to perform will be extremely helpful.
Thanks

[2021-04-23 19:23] Rahulm2310 commented on #214
@Krishna841 You can refer to the references provides in the issue description. You need to create quality assurance documentation similar to how it is done [here](https://github.com/anitab-org/mentorship-backend/blob/cf6df094e4fef735e135674e4d5697ded5060d7d/docs/quality-assurance-test-cases.md) and add a table of test cases for `GET /categories/{id}/sections` endpoint similar to this.
![image](htt

[2021-04-24 03:05] Krishna841 commented on #214
@Rahulm2310 I got the documentation part but I want some more clarification in making the table. In the table, we need to think of different possible test cases and their outcomes, right? If so, can you explain what "GET /categories/{id}/sections" means so that I can think which test cases would be possible?
Thank you very much.
Also, I'm ready to take this project, kindly assign me this one.

[2021-04-25 17:09] #217 closed

[2021-04-25 17:14] annabauza commented on #214
@Rahulm2310 please reply ☝️

[2021-04-25 17:15] annabauza commented on #213
approved

[2021-04-25 17:15] annabauza commented on #212
approved

[2021-04-25 17:15] annabauza commented on #211
approved

[2021-04-25 17:15] annabauza commented on #210
approved

[2021-04-25 17:16] annabauza commented on #209
approved

[2021-04-25 17:16] annabauza commented on #208
approved

[2021-04-25 17:16] annabauza commented on #207
approved

[2021-04-25 17:17] annabauza commented on #205
approved

[2021-04-25 17:17] annabauza commented on #204
approved

[2021-04-25 17:17] annabauza commented on #203
approved

[2021-04-25 17:17] annabauza commented on #202
approved

[2021-04-25 17:17] annabauza commented on #201
approved

[2021-04-25 17:17] annabauza commented on #200
approved

[2021-04-25 17:17] annabauza commented on #199
approved

[2021-04-25 17:17] annabauza commented on #198
approved

[2021-04-25 17:19] annabauza commented on #197
approved

[2021-04-25 17:19] annabauza commented on #193
approved

[2021-04-25 17:19] annabauza commented on #192
approved

[2021-04-25 17:19] annabauza commented on #191
approved

[2021-04-25 17:19] annabauza commented on #190
approved

[2021-04-26 08:08] Rahulm2310 commented on #214
@Krishna841 `GET /categories/{id}/sections` is an api endpoint that returns an array of sections({id,title}) related to a category with category id=`id` .
For example we have the following categories:
![image](https://user-images.githubusercontent.com/54268438/116049437-e3f7c000-a693-11eb-8947-87aed508136f.png)

Now, when I make a GET request to `/categories/1/sections` i.e. sections related to ca

[2021-04-26 12:46] Krishna841 commented on #214
@Rahulm2310 Can you tell me how to test the api?

[2021-04-26 17:45] SabhyaGrover commented on #153
Hi, I tried to set up the local environment and faced the following  error:
`AttributeError: 'SQLiteCompiler' object has no attribute 'visit_column_element'`
I had set up Firebase with google-credentials previously and was trying to run the python server. Is there something else that needs to be done @NenadPantelic ?

[2021-04-26 18:05] NenadPantelic commented on #153
Hey @SabhyaGrover, did you install the requirements -> `pip install -r requirements.txt`? It's probably due to Flask SQLAlchemy dialect error.

[2021-04-26 18:13] SabhyaGrover commented on #153
Yes, I did. The error still persists.

[2021-04-26 18:14] SabhyaGrover commented on #153
Yes I did. The error still persists.

[2021-04-27 09:18] NenadPantelic commented on #153
Can you please share the content of your `.env` file, just db params?

[2021-04-27 13:42] Poobalan1210 commented on #177
Hey @nandini45  i should provide the images in icon format or png format

[2021-04-27 14:25] nandini45 commented on #177
Png format i suppose

On Tue, 27 Apr 2021, 7:13 p.m. Poobalan, ***@***.***> wrote:

[2021-04-29 12:26] Anmollenka commented on #145
I would like to work on this

[2021-04-29 12:28] Anmollenka commented on #144
I would like to work on this.

[2021-04-29 18:03] jaivanti commented on #141
Hi! I would like to work on this issue.

[2021-04-29 19:02] Krishna841 commented on #214
I'm so sorry I won't be able to fix the issue...U can remove me from this issue @Rahulm2310

[2021-04-30 02:28] Rahulm2310 commented on #214
Okay. No worries @Krishna841. Thanks anyway 😊

[2021-04-30 07:58] NenadPantelic commented on #145
Sure @Anmollenka, go ahead.

[2021-04-30 10:27] Amulya-coder commented on #141
Assigning you @jaivanti.

[2021-04-30 13:46] jaivanti commented on #141
@Amulya-coder Can you review the pull request. Do let me know for any changes. Thanks!

[2021-05-01 14:56] #138 closed

[2021-05-03 10:27] Anmollenka opened #230 "feat :add detailed steps for running the app in different os"
### Is your feature request related to a problem? Please describe.
As of the README file contains the steps for setting the application locally.The steps given for creating a virtual environment are
for linux users or people using git bash in windows and people using windows command line might get confused.

### Describe the solution you'd like
A detailed step by step solution for running the appl

[2021-05-03 21:07] isabelcosta commented on #230
@annabauza can you please triage this :)

[2021-05-11 13:25] Anmollenka commented on #145
Unassigned myself as I was unable to register and the issue required that.Would take it up if I am able to register and as well as available

[2021-05-12 15:45] NenadPantelic commented on #145
Hi @Anmollenka, that's completely OK. I'll open an issue to solve the setup problem.

[2021-05-13 09:52] lem0n4id commented on #128
hey I'd like to work on this

[2021-05-13 10:08] lem0n4id commented on #128
I have fixed this issue and have made a pull request. Please go through it and give your feedback

[2021-05-13 15:59] Rahulm2310 commented on #128
@lem0n4id thank you for the fix but please wait until a maintainer assigns you the issue before raising a PR.

[2021-05-20 15:17] biospherexr commented on #128
Is this still open? If yes, can I take this one?

[2021-05-20 15:18] biospherexr commented on #106
Can I work on this?

[2021-05-20 15:19] devkapilbansal commented on #128
@biospherexr this issue has already a PR open and is not marked as Available

[2021-05-20 15:24] Rahulm2310 commented on #106
@biospherexr Sure. Assigning you 😊

[2021-05-22 06:40] epicadk commented on #220
I'd like to work on this. (as discussed in the open session)

[2021-05-22 14:15] aakankshaagr commented on #208
can I work on this issue?

[2021-05-24 20:16] #128 closed

[2021-05-29 06:19] #220 closed

[2021-05-29 15:04] epicadk commented on #134
I'd like to work on this.

[2021-05-30 16:23] Rahulm2310 commented on #134
Sure @epicadk. Assigning you :)

[2021-06-04 07:24] #134 closed

[2021-06-06 22:05] #141 closed

[2021-06-06 22:06] #106 closed

[2021-06-07 03:28] epicadk commented on #144
@Anmollenka would you still like to work on this?

[2021-06-07 04:08] Anmollenka commented on #144
Yes @epicadk

[2021-06-10 07:25] harshakhmk commented on #142
I would like to pick this issue @isabelcosta

[2021-06-10 10:53] isabelcosta commented on #142
sure @harshakhmk !

[2021-07-15 20:38] devkapilbansal commented on #144
Any update @Anmollenka

[2021-07-25 20:31] devkapilbansal commented on #153
@SabhyaGrover are you working on this?

[2021-07-26 16:18] SabhyaGrover commented on #153
Not as of now

[2021-09-28 16:47] Ln11211 commented on #213
hello, I am a first timer and I want to try working on this issue, but I haven't fully understood what should I be documenting, any help ?
(p.s I have really very little knowledge right now but I'll learn anything asap)

[2021-10-08 21:06] isabelcosta commented on #213
@Ln11211 I just saw this now. Sure so, the idea is to explore this endpoint capabilities and potential test scenarios and create a similar table to inform contributors of how to test this endpoint. For example, maybe you have to be logged in for the endpoint to return successfully 🤔

Here's a document example: https://github.com/anitab-org/mentorship-backend/blob/cf6df094e4fef735e135674e4d5697ded5

[2021-10-17 03:29] Ln11211 commented on #213
@isabelcosta , Should I document the quality assurance and test cases table in the same file you [shared](https://github.com/anitab-org/mentorship-backend/blob/cf6df094e4fef735e135674e4d5697ded5060d7d/docs/quality-assurance-test-cases.md), or should I make a new one with the name "quality assurance documentation" ?

If I am not wrong, I have to document different test cases so somebody can test th

[2021-10-17 13:52] isabelcosta commented on #213
Yes please :)

@Ln11211 those are great questions! I don't know exactly how it works. But I think you can understand more if you look at the code that implements that request. Are you familiar with programming and navigating a codebase, or would you need help?
@annabauza @vatsalkul can you help here?

Nice :D

[2021-12-13 06:42] geegatomar commented on #208
Hello @Rahulm2310 @isabelcosta , Can I please take this up?

[2021-12-13 18:19] isabelcosta commented on #208
Sure @geegatomar :) will assign to you

[2022-02-05 17:40] eleensmathew commented on #230
Hi can I work on this? I a newbie so can you please guide me?

[2022-02-09 16:41] abhasal commented on #214
Hi, Is this issue still available to work on?

[2022-02-27 07:17] PS-11 commented on #184
@gaurivn @annabauza could you please help me out? I want to work on this issue!

[2022-02-27 07:33] PS-11 commented on #139
@Aaishpra I can work on this issue, please let me know if it's still available.

[2022-02-27 14:06] PS-11 commented on #157
@gaurivn hey! I can work on this issue, please guide me.

[2022-02-27 15:00] gaurivn commented on #184
Sure @PS-11, assigning you

[2022-02-27 15:44] PS-11 commented on #184
@gaurivn Hey! thank you :)
I've followed till step 5, and it says Category & Section already exists, but I'm unable to find where do I need to add the URL of the youtube video. Could you please help me out?

[2022-02-27 15:49] PS-11 commented on #184
![Screenshot (586)](https://user-images.githubusercontent.com/98735419/155889472-64ebc2df-4ee9-45ea-816f-f1468b3f68ea.png)

[2022-02-27 16:38] gaurivn commented on #184
There is POST /videos/youtube

[2022-02-27 16:48] PS-11 commented on #184
@gaurivn Got it! thanks :)

[2022-02-27 16:49] PS-11 commented on #184
![Screenshot (587)](https://user-images.githubusercontent.com/98735419/155891486-94d1e4b0-bba6-4ae0-b8fb-1b468d50635a.png)
It says "ID token is expired"

[2022-02-27 16:54] gaurivn commented on #184
I tried it, worked for me..can you try logging in again and use the ID token

[2022-02-27 16:55] PS-11 commented on #184
Sure!

[2022-02-27 16:59] PS-11 commented on #184
![Screenshot (589)](https://user-images.githubusercontent.com/98735419/155891851-638055c8-9238-49ed-8992-78a8c2a3915a.png)
@gaurivn It worked! thank you so much :)

[2022-02-27 17:21] PS-11 commented on #184
@gaurivn Could you please assign me more issues...would love to work :)

[2022-02-27 19:06] gaurivn commented on #184
You're welcome, sure, do claim an issue to get assigned...

@annabauza, pls suggest where screenshots of video addition should be added for PR and approval purpose

[2022-02-27 20:08] PS-11 commented on #184
@gaurivn Could you please assign me #157 , if it's still available?

[2022-03-01 15:18] gaurivn commented on #184
Since the issue is for first-timers, didn't assign earlier, will assign now as more info is required for this issue and no pr.

[2022-03-01 16:01] PS-11 commented on #157
@gaurivn Thank you for assigning! :)
Could you please clarify, do I need to put the screenshots after fork and cloning the Stem diverse repo, or Do I need to put the screenshots of the login procedure in Stem Diverse TV (Heroku app link)?

[2022-03-01 16:19] gaurivn commented on #157
Screenshots after fork, clone, and setting up the local environment, not the second one, pls do the following steps following [contributing guidelines](https://github.com/anitab-org/stem-diverse-tv/blob/master/docs/contributing_guidelines.md):
fork this repository
clone, create a new branch from master
The above steps are explained in detail here, please follow this: [Fork, Clone, Remote](https://

[2022-06-29 18:22] nawed2611 commented on #159
Hey, Can I work on this issue?

[2022-07-01 18:24] vj-codes commented on #159
@nawed2611 hey would you like to work for this under Open Source Hack?

[2022-07-01 18:30] Tahanima commented on #214
Hi
Can I work on this issue?

[2022-07-01 18:32] vj-codes commented on #214
@Tahanima assigning you
Happy coding!

[2022-07-01 18:34] Tahanima commented on #214
@vj-codes, thank you so much for such a quick response!

[2022-07-02 07:58] jailbreakerVC commented on #148
Can I work on this?

[2022-07-02 08:02] vj-codes commented on #148
Assigning you @jailbreakerVC
Happy documenting!

[2022-07-02 08:02] vj-codes commented on #148
Assigning you @jailbreakerVC
Happy documenting!

[2022-07-02 10:26] jailbreakerVC commented on #148
I have uploaded the link to my draft in the spreadsheet.

[2022-07-02 14:56] Abjcodes opened #254 "Doc: Improve the Setup and run section in README.md"
### Description
Currently, the Setup and run section of the README file is unlabeled. Add numbers and bullets to make it more readable and organized.

### To Reproduce
Steps to reproduce the behavior:
1. Go to [README.md](https://github.com/anitab-org/stem-diverse-tv/blob/master/README.md)
2. Scroll down to 'Setup and run section'
3. Add numbers and bullet points (if necessary)

### Additional con

[2022-07-02 15:33] znamazbayeva commented on #254
Hello! Can you assign this issue to me?

[2022-07-02 16:05] vj-codes commented on #254
Assigning you @znamazbayeva
Happy documenting!

[2022-07-03 15:41] znamazbayeva commented on #254
@Abjcodes @vj-codes I have submitted PR :tada: please kindly, review.

[2022-07-05 11:34] #254 closed, assigned to znamazbayeva

[2022-07-05 20:20] nawed2611 commented on #159
Sure, I would love to work on this
Can you just elaborate the issue a bit

[2022-07-06 04:28] harshita214 commented on #139
Hey , Can I work on this issue if its still up for changes

[2022-07-06 04:31] harshita214 commented on #131
Hey, can I take this issue

[2022-07-06 04:46] harshita214 commented on #140
Hey, Can I take this issue?

[2022-07-06 06:26] KerinPithawala commented on #214
Can I work on this issue?

[2022-07-06 16:43] pypas commented on #99
Hey! Could you assign this to me? I've opened a PR

[2022-07-06 16:50] pypas commented on #130
Hi, can I take this one?

[2022-07-06 16:52] pypas commented on #144
Hi @devkapilbansal, can I take this one?

[2022-07-06 19:31] znamazbayeva commented on #163
Hello! Can you assign me to this issue, please? If it is still available?

[2022-07-07 07:26] shrutityagi4102 commented on #158
Hi, @epicadk  can you assign this issue to me?

[2022-07-07 07:27] shrutityagi4102 commented on #142
Hi, @Rahulm2310 & @isabelcosta  can you assign this issue to me?

[2022-07-07 07:28] shrutityagi4102 commented on #140
Hi, @Aaishpra can you assign this issue to me?

[2022-07-07 07:28] shrutityagi4102 commented on #139
Hi, @Aaishpra can you assign this issue to me?

[2022-07-07 07:29] shrutityagi4102 commented on #131
Hi, @Rahulm2310 can you assign this issue to me?

[2022-07-07 07:31] shrutityagi4102 commented on #130
Hi, @epicadk can you assign this issue to me?

[2022-07-07 07:40] shrutityagi4102 commented on #177
Hi, @Poobalan1210 can you please assign this issue to me?

[2022-07-07 11:58] pypas commented on #99
@Rahulm2310 🙏

[2022-07-07 12:11] pypas commented on #200
Hi @isabelcosta @Amulya-coder could you assign me this one?

[2022-07-07 16:18] devkapilbansal commented on #144
Sure @pypas assigning you

[2022-07-07 18:56] DanideSola commented on #131
Hello @Rahulm2310! Can this issue be assigned to me?

[2022-07-07 20:44] DanideSola commented on #178
Hi @nandini45! Can I be assigned to this issue?

[2022-07-08 05:36] pypas commented on #144
Thanks @devkapilbansal! I've opened a PR, could you take a look when you have the time?

[2022-07-08 05:38] pypas commented on #201
Hi @jalajcodes, could you assign me this one?

[2022-07-10 05:40] epicadk commented on #130
Since @pypas asked first will assign

[2022-07-10 05:40] epicadk commented on #130
@vj-codes please confirm it this is valid for this OSH?

[2022-07-11 19:21] epicadk commented on #158
@vj-codes please confirm about OSH

[2022-07-11 20:47] vj-codes commented on #158
Yes it's included

[2022-07-12 11:10] abhilipsasahoo03 commented on #148
Hey @vj-codes @tinniaru3005 is there any possibility that multiple contributors can contribute to this issue? I'd love to work on this too, but I see that the Status: Available Label has been removed. Please let me know.

[2022-07-12 12:48] tinniaru3005 commented on #148
Hey @abhilipsasahoo03 ! It is about writing a blog so I guess multiple contributors can contribute to it. I am assigning it to you too so that you can start working. But @vj-codes could you please confirm if multiple contributors can work on the issue or not?

[2022-07-12 13:00] abhilipsasahoo03 commented on #148
Hi @tinniaru3005 just a trivial question. Do I have to create a PR to let you know when I'm finished with the blog and adding it to the spreadsheet? Asking because the rules say we have to submit a PR for each label to be eligible in this program.

[2022-07-12 13:09] tinniaru3005 commented on #148
Hey, I am not really sure about this. You can ask in the zulip chat and someone can help you if they know.
Hey, @vj-codes can you please confirm it. :)

[2022-07-12 21:44] FarzamMohammadi commented on #123
Hey! May I take a stab at this?

[2022-07-15 10:50] abhilipsasahoo03 commented on #211
@vj-codes @tinniaru3005 can I work on this issue?

[2022-07-15 11:25] tinniaru3005 commented on #211
Hey @abhilipsasahoo03 . I have assigned the issue. You can start working on it. Thanks for your interest in contributing to the community. :)

[2022-07-16 19:09] FarzamMohammadi commented on #123
Hey @NenadPantelic, may I take a stab at this?

[2022-07-17 19:58] FarzamMohammadi commented on #123
@NenadPantelic @Amulya-coder @vatsalkul The work is done. Here is the PR [FarzamMohammadi:Bug/return-created-author-object](https://github.com/anitab-org/stem-diverse-tv/pull/261)

Let me know if you have any questions. Thanks.

Edit: Screenshot of change
![image](https://user-images.githubusercontent.com/72108716/179422853-b029a01e-afa1-44a8-9da9-fcd998e94450.png)

[2022-08-01 08:58] devkapilbansal commented on #144
Hi @pypas Can you please reachout to someone on Zulip channel instead?

[2022-10-16 10:08] nk7608 commented on #135
Hello, can this issue be assigned to me, with some more details like the API Link, etc.? I'd like to try solving it, Thanks.

[2022-10-16 10:21] nk7608 commented on #140
Hey, if this issue is still active, can I assigned for this one?

[2022-10-16 10:25] nk7608 commented on #124
Hey, this seems to be an interesting issue, would like to try working on it if assigned. Thanks.

[2022-10-18 14:09] Ria-R commented on #139
Hello @Aaishpra! May I work on this issue?

[2022-10-18 17:49] NenadPantelic commented on #121
I'm gonna take this one

[2022-10-19 19:00] makifyegin commented on #214
Can ı join in ?